---
title: Festivals & Events
description: Referenzen - Festivals & Events.
header_title: Festivals & Events (National & International)
header_bg: ../assets/img/referenzen/festivals.jpg
keywords: Festivals & Events von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>seit einigen Jahren erobert Stelzen-Art den nationalen und auch internationalen Markt.Wir sind mit Leidenschaft und gerne unterwegs und freuen uns noch auf viele Länder und Festivals dieser Welt.</p>
		</span>
	</h1>
</div>




<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 45%"></div>
</div>




<div class="container-fluid">
	<div class="row between-xs">
		<div class="col-xs-12">
			<h2>
				Veranstaltungen
			</h2>
		</div>
		<div class="col-lg-6 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					National
				</h3>
				<ul class="listStyle">
					<li>Bremer Karneval künstlerische Leitung seit 1984</li>
					<li>STAMP int. Straßenkunstfestival 2010 3.Platz</li>
					<li>“Kleines Fest im großen Garten</li>
					<li>Feuerwerkswettbewerb Hannover 07- 17 Alstervergnügen, Hamburg </li>
					<li>Altonale Spaßparade, Hamburg 2005 (2.Platz) 2006/ 07  </li>
					<li>Karneval der Kulturen Berlin (5 x Preisträger)</li>
					<li>La Strada Bremen /intern. Straßenzirkusfestival</li>
					<li>“Carnival der Kulturen 07-16“, Bielefeld </li>
					<li>Ducksteinfestival Binz, Hamburg</li>
					<li>Bonner Karneval 2016/2017/2018</li>
					<li>Marburger Frühling, Straßentheaterfestival</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-6 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					International
				</h3>
				<ul class="listStyle">
					<li>Chinesische Neujahrsparade Hongkong 2106/ 2017</li>
					<li>Chinesisches Neujahrsfest 2017/ 2018 Macau / China Carnival in Menton 2017 , France B-Fit Festival 2017, Bucarest/ Rumänien  Platonov Atrs </li>
					<li>Festival 2017, Voronezh/ Russland Children Memories Festival 2017, Bucarest/ Rumänien  Debrecen Flower Carnival, Debrecen/ Ungarn </li>
					<li>Spancierfest, Varazdin, CROATIA  Fasnacht Luzern 2017</li>
					<li>Flower Festival Sanremo/ Italien 2018</li>
					<li>Flower Festival Murcia/ Spanien 2017</li>
					<li>Karneval in Aalborg 07- 16  “Pflasterspektakel 2012“ Linz, Österreich  "Respektakel 2006" Basel, Schweiz </li>
					 <li>O- Parade 2010, Genk / Belgien</li>
					<li>Carneval Aalborg/ Dänemark (Preisträger!)   „Art-Parade“ Namibia 04 "Cortège GloBale 2007" Basel, Schweiz</li>
					 <li>Filmfestival Yerivan, Armenien</li>
					<li>SunChild Festival, Armenien</li>
					<li>Formel 1 2018, Bahrein ING Night Marathon, Luxenbourg</li>
					<li>Earth.Sky.Sea. street theatre festival 2017, Liepaja/ Lettland  Night of Festivals, London</li>
					<li>Festival Ludi Savarienses, Szombathely/ Ungarn </li>
					<li>Festival Leicester 2015, Leicester/ England </li>
				</ul>
			</div>
		</div>
	</div>
</div>



<div class="container-fluid greyBg" id="produktionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Figuren, die hier genutzt werden
			</h2>
		</div>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>
	</div>
</div>
