---
title: Feste & Paraden
description: Referenzen - Feste & Paraden.
header_title: Feste & Paraden
header_bg: ../assets/img/referenzen/feste.jpg
keywords: Feste & Paraden von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>Bei einem schönen Ambiente wie dem in Parks und Schlösser wirken unsere Figuren märchenhaft und verzaubern ihre Umgebung in perfekter Weise. Doch diesen Zauber tragen sie auch in Einkaufsmails, auf Stadtfeste, Messen und auf Paraden.</p>
		</span>
	</h1>
</div>




<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 45%"></div>
</div>




<div class="container-fluid">
	<div class="row between-xs">
		<div class="col-xs-12">
			<h2>
				Veranstaltungen
			</h2>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					Schlößer, Parks & Burgen
				</h3>
				<ul class="listStyle">
					<li>Schloss Celle</li>
					<li>Schloss Etelsen</li>
					<li>Schloss Güstrow "Sommertraum" Schloss Rheda Schloss Schwanensee Schloss Solitude, Stuttgart Schloss Wilhelmsthal, Calden</li>
					<li>Schlosspark und Lippensee Paderborn</li>
					<li>Flachsmark Burg Linn Fürst- Pückler-Park Bad Muskau</li>
					<li>Gärten der Welt, Berlin</li>
					<li>Pillnitzer Schlossnacht Dresden</li>
					<li>Potsdamer Schlössernacht 2015, Potsdam</li>
					<li>Herrenhäuser Gärten, Hannover</li>
					<li>Maximilian Park Hamm</li>
					<li>Bürgerpark Wernigerode</li>
					<li>Potsdamer Feuerwerkersinfonie</li>
					<li>Botanica Bremen  IGA Lotuslaternenfest, Berlin Tierpark Hagenbeck Dschungelnächte Hamburg</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					Stadtfeste, Verkaufsoffenen Sonntage, Paraden
				</h3>
				<ul class="listStyle">
					<li>Lamboy Fest Hanau</li>
					<li>Hohe Straßen Fest Düsseldorf</li>
					<li>Casseler Freyheit</li>
					<li>Cruise Days, Hamburg „Tag der deutschen Einheit“ (Vertretung der Hansestadt Bremen 2005/06/07/ 2010 )</li>
					<li>Maschsefest Eröffnungsparade Sachsen Anhalt Tag Marathon Münster/ Führt/ Tecklenburg/ Ibbenbühren Museum der Arbeit, Hamburg</li>
					<li>Seenachtsfest Jena</li>
					<li>Six Days Münster</li>
					<li>Frühlingserwachen, Kassel </font></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					Bundes-Landesgartenschauen und Gartenmessen
				</h3>
				<ul class="listStyle">
					<li>Bundesgartenschau Bad Zwischenahn</li>
					<li>Landesgartenschau Gießen 2014</li>
					<li>Landesgartenschau Papenburg 2014 Landesgartenschau Winsen Landpartie Bremen, Nienburg</li>
					<li>Rittergut Remeringhausen</li>
					<li>Rosenfest Bruchhausen-Vilsen</li>
					<li>Schloss Ahaus, Garten- Flair  Gartenwelten, Schloss Rheydt, Mönchengladbach</li>

				</ul>
			</div>
		</div>
	</div>
</div>



<div class="container-fluid greyBg" id="produktionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Figuren, die hier genutzt werden
			</h2>
		</div>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>
	</div>
</div>
