---
title: Galas & Firmenevents
description: Referenzen - Galas & Firmenevents
header_title: Galas & Firmenevents
header_bg: ../assets/img/referenzen/galas_firmenevents.jpg
keywords: Galas & Firmenevents von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>unsere Figuren verleihen jeder Gala den Glamoureffekt den man sich für eine gehobene Veranstaltung wünscht. Und was gibt es wünschenswerteres für einen Gastgeber, als wenn gleich beim Entree die Glückshormone ausgeschüttet werden mit der Begrüßung durch unsere spektkulären Figuren. Doch auch über den Abend verteilt können sie wieder auftauchen, als Walk-Act oder kleine Showeinlagen. Durch das reiche Repertoire von Stelzen-Art ist eine Anpassung der vielfälltigsten Themen und z.b. auch Firmenfarben möglich.</p>
		</span>
	</h1>
</div>




<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 0"></div>
</div>




<div class="container-fluid">
	<div class="row between-xs">
		<div class="col-xs-12">
			<h2>
				Veranstaltungen
			</h2>
		</div>
		<div class="col-lg-6 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					Galas
				</h3>
				<ul class="listStyle">
					<li>Deutsches Historisches Museum Berlin  </li>
					<li>Deutscher Opernball 2008, Ffm. </li>
					<li>Hotel Cerês Rügen Hotel Edelweiss Berchtesgaden  </li>
					<li>Hotel Intercontinental Berlin  </li>
					<li>Hotel Marriott Grande  </li>
					<li>Elysée Hotel Hamburg </li>
					<li>Alte Oper Ffm. /Finanzplatzgala </li>
					<li>Silvestergala Best Western Castanea Ressort, Lüneburg  </li>
					<li>Gala Alter Rathaussaal München </li>
					<li>Künstlerhaus Spiekeroog </li>
					<li>GOP Variete Essen </li>
				</ul>
			</div>
		</div>
		<div class="col-lg-6 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					Firmenevents
				</h3>
				<ul class="listStyle">
					<li>Roncalli 2017 „Reise zum Regenbogen“ Oldenburger Opernball 2018</li>
					<li>Aurubis AG</li>
					<li>Bertelsmann </li>
					<li>Daimler Chrysler </li>
					<li>DePfa Bank AG  Deutsche BahnDodenhof Posthausen </li>
					<li>Dresdner Bank AG </li>
					<li>Essener Verkehrsbetriebe</li>
					<li>Breitling</li>
					<li>Commerzbank AG</li>
					<li>Galeria Kaufhof</li>
					<li>Hapac Lloyd</li>
					<li>Karstadt Bremen/ Darmstadt/ Bielefeld/ Stuttgart</li>
					<li>Expo Porte de Versailles Messe Paris 2010</li>
					<li>Bruker Daltonik </li>
					<li>Sky Office Düsseldorf</li> 
					<li>Möbelhaus Finke Möbelhaus Schulenburg</li>
					<li>Sächsische Zeitung Neujahrsfeier</li>
					<li>Tierpark Hagenbeck</li>
					<li>Zoo-Palais, Ffm. </li>
					<li>Beluga Shipping</li>
					<li>Kreuzfahrtschiff Begrüßung BHV 2014- 2017 </li>
				</ul>
			</div>
		</div>
	</div>
</div>



<div class="container-fluid greyBg" id="produktionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Figuren, die hier genutzt werden
			</h2>
		</div>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>
	</div>
</div>
