---
title: Inszenierungen
description: Referenzen - Inszenierungen.
header_title: Inszenierungen
header_bg: ../assets/img/referenzen/inszenierungen.jpg
keywords: Inszenierungen von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>Wir lieben das Gesamtkunstwerk! Ob im Kleinen oder im Großen. Wir können entweder eigene Inszenierungen in ein Ambiente zauber oder wir denken uns auch gerne in große Zusammenhänge ein. Immer im Sinne einer einzigartigen und gelungenen Veranstaltung, bei der alle Gewerke erfolgreich Zusammenarbeiten.</p>
		</span>
	</h1>
</div>




<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 45%"></div>
</div>




<div class="container-fluid">
	<div class="row between-xs">
		<div class="col-xs-12">
			<h2>
				Veranstaltungen
			</h2>
		</div>
		<div class="col-lg-6 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					Eigene Inszenierungen
				</h3>
				<ul class="listStyle">
					<li>Bremer Karneval, Stelzenproduktionen seit 2002  </li>
					<li>„Dreams get Wings“, Stelzenperformances </li>
					<li>Eröffnung Museumsuferfest Frankfurt a. M., 2004 "
					<li>Klein Nemo in Slumberland" Theatergroßproduktion  2002/ 03 "</li>
					<li>Klein Nemo in Unterslumberland", 2003</li>
					 <li>„Le Bal des Étoile“, 05 </li>
					<li>"Unter der Seufzerbrücke", Stelzentanz- & Videoperformances,05 </li>
					<li>"Castanea" Stelzeninszenierung Silvester 2006- 10</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-6 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					Mitwirkungen Großinszenierungen
				</h3>
				<ul class="listStyle">
					<li>Kirchentag Eröffnungsinszenierung, Bremen 2009</li>
					<li>Walpurgisnacht Inszenierung Thale, Schirke</li>
					<li>Special Olympics National Games Berlin, Bremen, Düsseldorf</li>
					<li>Tischtennis Weltmeisterschaft 2006 </li>
					<li>Saar Spektakel 2010</li>
					<li>NDR Kiel NRW Tag 2010 Olympiastadion Berlin/ Neueröffnung</li>
					<li>Mecklenburgisches Staatstheater, Schwerin </li>
					<li>Intern. Händelfestspiele Göttingen</li>
					<li>Bremer Weserstadion Abschiedsinszenierung Ailton Cospar 2010, Eröffnungsinszenierung</li>
					<li>FIFA WM 2006</li>
					<li>Special Olympics National Games Berlin, Bremen, Düsseldorf</li>
					<li>Tischtennis Weltmeisterschaft 2006</li>
				</ul>
			</div>
		</div>
	</div>
</div>



<div class="container-fluid greyBg" id="produktionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Figuren, die hier genutzt werden
			</h2>
		</div>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>
	</div>
</div>
