---
title: Lichternächte
description: Referenzen - Lichternächte.
header_title: Lichternächte
header_bg: ../assets/img/referenzen/lichternaechte.jpg
keywords: Lichternächte von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>Mit unseren Illuminierten Figuren bereichern wir mehr und mehr die wachsende Anzahl der Lichternächte. Auch hier gilt wieder je schöner und strahlender die Veranstaltung, umso schöner kommen unsere Figuren.</p>
		</span>
	</h1>
</div>




<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 45%"></div>
</div>




<div class="container-fluid">
	<div class="row between-xs">
		<div class="col-xs-12">
			<h2>
				Veranstaltungen
			</h2>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					Events
				</h3>
				<ul class="listStyle">
					<li>"Das Weihnachtsdorf"  Zürich/ Schweiz 2017 </li>
					<li>Winterphantasien auf dem Bremer Weihnachtsmarkt alle Adventsfreitage 2017 </li>
					<li>Hamburger Weihnachtsparade 4 Adventssamstage Hamburg 2017 </li>
					<li>Lichterfest Soltau </li>
					<li>Lichtermarkt Bergkamen</li>
					<li>Lange Nacht der Museen, Hamburg</li>
					<li>Liichternacht, Bad Zwischenahn  </li>
					<li>Miniaturenpark bei Nacht, Wernigerode </li>
					<li>Lichtzauber am Jahrhundertturm, Magdeburg</li>
					<li>Hexoween, Thale </li>
					<li>Blaue Nacht Nürnberg </li>
					<li>Sternennacht, Günzburg</li>
				</ul>
			</div>
		</div>
	</div>
</div>



<div class="container-fluid greyBg" id="produktionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Figuren, die hier genutzt werden
			</h2>
		</div>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>
	</div>
</div>
