---
title: Preisträger
description: Referenzen - Preisträger.
header_title: Preisträger
header_bg: ../assets/img/referenzen/preistraeger.jpg
keywords: Preisträger von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>Sowohl national als auch international hat Stelzen-Art mehrfach Preise erreicht. Bereits 3 x haben sie den ersten Platz gemacht und wurden somit für ihre über viele Jahre kontinuierliche Arbeit, Leidenschaft ,Qualität und ihre große Spielfreude gewürdigt.</p>
		</span>
	</h1>
</div>




<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 45%"></div>
</div>




<div class="container-fluid">
	<div class="row between-xs">
		<div class="col-xs-12">
			<h2>
				Veranstaltungen
			</h2>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					Events
				</h3>
				<ul class="listStyle">
					<li>Karneval der Kulturen Berlin (5 x Preisträger 2017 1. Preis für die schönsten Kostüme)</li>
					<li>Debrecen Flower Carnival 2017 , Debrecen/ Ungarn (1. price ) </li>
					<li>Karneval in Aalborg 07- 16 (mehrfacher Preisträger, 2016 1. Platz)</li>
					<li>STAMP int. Straßenkunstfestival Hamburg 2010 3.Platz</li>
					<li>Altonale Spaßparade, Hamburg 2005 (2.Platz)  </li>
				</ul>
			</div>
		</div>
	</div>
</div>



<div class="container-fluid greyBg" id="produktionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Figuren, die hier genutzt werden
			</h2>
		</div>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>
	</div>
</div>
