---
title: Promotiontouren & Messen
description: Referenzen - Promotiontouren & Messen.
header_title: Promotiontouren & Messen
header_bg: ../assets/img/referenzen/promotiontouren_edit.jpg
keywords: Promotiontouren & Messen von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>Wir lieben das Gesamtkunstwerk! Ob im Kleinen oder im Großen. Wir können entweder eigene Inszenierungen in ein Ambiente zauber oder wir denken uns auch gerne in große Zusammenhänge ein. Immer im Sinne einer einzigartigen und gelungenen Veranstaltung, bei der alle Gewerke erfolgreich Zusammenarbeiten.</p>
		</span>
	</h1>
</div>




<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 0"></div>
</div>




<div class="container-fluid">
	<div class="row between-xs">
		<div class="col-xs-12">
			<h2>
				Veranstaltungen
			</h2>
		</div>
		<div class="col-lg-6 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					Promotiontouren
				</h3>
				<ul class="listStyle">
					<li>GOP Bremen</li>
					 <li>La Prairie, Produkttour 2008 </li>
					<li>Kunsthalle Bremen "Rilke", 2003 </li>
					<li>Überseemuseum Bremen:  „Ozeanien" 2004</li>
					<li>"1001 Nacht- Wege ins Paradies" 2007</li>
					 <li>„Das Böse- all about evil“ 2008</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-6 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					Messen
				</h3>
				<ul class="listStyle">
					<li>Klimahaus BHV </li>
					<li>Messe Analytica</li>
					<li>Messe Expopharm</li>
					<li>Lernmesse Bremen</li>
					 <li>HanseLife</li>
					<li>ITB Berlin </li>
					<li>Games Convention Online Leipzig</li>
					<li>GTM Rostock, Bremen</li>
				</ul>
			</div>
		</div>
	</div>
</div>



<div class="container-fluid greyBg" id="produktionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Figuren, die hier genutzt werden
			</h2>
		</div>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>
	</div>
</div>
