body
	background: $white
	color: $colorDefault !important
	font-family: $fontDefault
	font-weight: 400

p
	padding: 0
	margin: 0
	font-family: $fontDefault
	a
		color: inherit
		text-decoration: none
		position: relative
		z-index: 2
		&::before, &::after
			content: ""
			background: $colorDark
			position: absolute
			bottom: 0
			left: 0
			width: 0
			height: 2px
			display: block
			z-index: 0
			transition: $transition2
		&::after
			background: rgba($colorCorporate, .2)
			width: 100%
		&:hover
			color: $white
			border-color: $white
			&::before
				width: 100%
ul.listStyle
	margin: 10px 0 10px -40px
	list-style: none
	li
		margin-left: 30px
		margin-bottom: 10px
		&:before
			content: "\f00c"
			font-family: $iconFontawesome
			width: 30px
			display: inline-block
			margin-left: -30px
			color: $colorCorporate
		a
			text-decoration: none

.spalten
	column-count: 3
	column-fill: balance
	display: block

a.button
	padding: 1rem
	border: 1px solid $colorSpecial
	color: $colorSpecial
	font-family: $fontDefault
	font-size: 1rem
	text-decoration: none
	text-align: center
	text-transform: uppercase
	position: relative
	z-index: 0
	transition: $transition2
	cursor: pointer
	text-shadow: none !important
	&::before
		content: ""
		background: transparent
		border: 1px solid transparent
		position: absolute
		top: 0
		left: 0
		width: 0
		height: 100%
		display: block
		z-index: -1
		transition: $transition2
	&:hover
		color: $black
		border-color: transparent
		&::before
			width: 100%
			border: 1px solid $colorCorporate
			background: $colorCorporate

h2
	font-family: $fontDefault
	font-weight: 200
	color: $colorSpecial
	width: 100%
	position: relative
	overflow: hidden
	margin-bottom: 4rem
	text-transform: uppercase
	&::after
		content: ""
		background: $colorSpecial
		height: 1px
		width: 100%
		position: absolute
		margin-top: 16px
		margin-left: 20px

.greyBg
	background: rgba($colorSpecial, .1)

.brownBg
	background: rgba($colorCorporate, .8)
	h2
		color: $colorDark
		&::after
			content: ""
			background: $colorDark

.pBG
	background-repeat: no-repeat
	min-height: 30vh
	position: relative
	.pText
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		font-weight: 200
		font-size: 4rem
		display: block
		background: rgba($white, .8)
		display: flex
		justify-content: center
		align-items: center

.maBottom
	margin-bottom: 2rem

.backgroundWrapper
	position: relative
	padding: 1rem

.lightHr
	display: block
	max-width: calc(75rem - 6rem)
	background: $colorDefault
	width: 100%
	height: 1px
	margin: 0 auto
	opacity: .2

.background
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: -1

.body-wrapper
	position: relative
	width: 100%
	min-height: 100%
	z-index: 2
	display: flex
	flex-direction: column
	transition: transform 0.5s ease-in-out

.specialBox
	background: rgba($colorCorporate, .5)
	padding: 1rem

header, .contentWrapper, footer
	width: 100%
	flex-basis: 100%
	display: block
	overflow-x: hidden

div[class*="col-"]
	>.inner
		padding: .25rem 1rem 0 1rem
		height: 100%







//HEADER|NAVI
header
	width: 100%
	height: 100vh
	position: absolute
	transition: $transition2
	overflow: hidden
	display: block
	//background: rgba($colorDefault, .6)
	/*&::before
		content: ""
		//background: $white url('../img/start.jpg') no-repeat
		background: rgba($white, .5)
		background-size: cover
		background-position: center
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		animation: 30s linear 1s normal none infinite zoominout
		transition: $transition1
		z-index: -101*/
	#video-background
		position: fixed
		right: 0
		bottom: 0
		min-width: 100%
		min-height: 100%
		width: auto
		height: auto
		z-index: -100
		opacity: .7
		overflow-x: hidden
	>.row
		transition: $transition2
		width: 100%
		display: block
		padding: 1rem 2rem
		margin-left: 0
		z-index: 1
		top: 0
		&::before
			transition: $transition2
			content: ""
			background: rgba($white, .95)
			top: 0
			left: 0
			width: 0
			height: 100%
			display: block
			position: absolute
			border-bottom: 1px solid rgba($colorExtra, .1)
		.inner
			top: 2rem
			display: flex
			align-items: center
			justify-content: space-between
			width: calc(100% - 4rem)
			left: 2rem
			position: fixed
			z-index: 4
			background: linear-gradient(135deg, rgba($colorCorporate ,.9) 0%,rgba($colorDark,.9) 100%)
			transition: $transition2
	.logo
		background: transparent
		height: 5rem
		width: 7rem
		margin-top: -30px
		margin-bottom: 0
		transition: $transition2
		img
			transition: $transition2
			max-height: 7rem
			transform: rotate(0deg)
			transform-origin: center center;
	#headerBG
		position: absolute
		display: block
		top: 0
		left: 0
		height: 100%
		width: 100%
		min-height: 100vh
		background-position: center top
		background-size: cover !important
		background-repeat: no-repeat !important
		background-color: rgba($colorSpecial, .2)
	nav
		padding-right: 0 !important
	ul
		transform: translateX(0)
		transition: $transition1
		position: relative
		display: flex
		flex-wrap: wrap
		justify-content: flex-end
		list-style: none
		margin: 0
		padding: 0
		z-index: 2
		&.submenuWrapper
			display: none
			visibility: hidden
			position: absolute
			background: rgba($colorDark, .8)
			transition: $transition2
			transform: translateY(-10px)
			opacity: 0
			padding: .75rem
			column-count: 3
			right: 0
			li
				a
					height: 20px
					margin-bottom: 10px
					line-height: 140% !important
					white-space: nowrap !important
					&:hover, &.aktiv
						color: transparent
						&::before
							color: $black
							border-color: $black
							width: auto
			&:hover
				display: block
				visibility: inherit
				opacity: 1
				transition: $transition2
				transform: translateY(0)
		li
			transition: $transition2
			flex: 0 0 auto
			display: block
			padding: 0 .5em
			&.submenu
				position: realtive
			a
				position: relative
				display: inline-block
				text-decoration: none
				font-size: 1rem
				font-weight: 200
				height: 50px
				line-height: 50px
				letter-spacing: 1px
				margin: 0
				color: $white
				transition: $transition2
				font-family: $fontCorporate
				text-transform: uppercase
				text-shadow: none
				&::before
					transition: $transition2
					white-space: nowrap
					position: absolute
					text-align: left
					top: 0
					left: 0
					overflow: hidden
					width: 0
					color: $black
					content: attr(data-hover)

				&:hover, &.aktiv
					color: transparent
					&::before
						color: $black
						border-color: $black
						width: 100%
				&:hover
					+ ul.submenuWrapper
						display: block
						visibility: inherit
						opacity: 1
						transition: $transition2
						transform: translateY(0)
	.hamburger
		position: relative
		transition: all 0.3s ease-in-out
		top: 1.5rem
		right: 2rem
		position: absolute
		display: none
		.line
			width: 50px
			height: 5px
			background-color: #ecf0f1
			display: block
			margin: 8px auto
			transition: all 0.3s ease-in-out
		&.open
			transform: rotate(45deg)
			&::before
				border: 5px solid #ecf0f1
			.line
				width: 35px
				&:nth-child(2)
					opacity: 0
				&:nth-child(1)
					transform: translateY(13px)
				&:nth-child(3)
					transform: translateY(-13px) rotate(90deg)
		&::before
			content: ""
			position: absolute
			box-sizing: border-box
			width: 70px
			height: 70px
			border: 5px solid transparent
			top: calc(50% - 35px)
			left: calc(50% - 35px)
			border-radius: 100%
			transition: all 0.3s ease-in-out
		&:hover
			cursor: pointer
	&.sticky
		>.row >.inner
			//background: $white
			padding: 0
			width: 100%
			left: 0
			top: 0
			&::before
				content: ""
				width: 100%
			.logo
				margin-top: 0
				height: 3.5rem
				img
					max-height: 3.5rem

	body.impressum &
		height: 50%
		min-height: 110px
		.headerContent
			display: none
		.icon-scroll
			display: none







//HEADERCONTENT
.headerContent
	top: 0
	position: absolute
	height: calc(70vh - 2rem)
	width: 100%
	display: flex
	justify-content: flex-start
	align-items: flex-end
	padding: 3rem
	box-sizing: border-box
	z-index: 3
	p
		margin-bottom: 1rem
		&:last-child
			margin-bottom: 0
	h1
		opacity: 1
		color: $colorDark
		font-size: 3rem
		line-height: 120%
		transition: all ease-in-out 5s
		font-family: $fontDefault
		font-weight: 200
		text-transform: uppercase
		flex-basis: 30%
		text-shadow: 1px 1px 3px $black
		.subTitle
			border-top: 1px solid rgba($colorCorporate, 1)
			font-size: 1.1rem
			display: block
			margin-top: 1rem
			background: rgba($white, .8)
			color: $black
			text-shadow: none
			padding: 1rem !important
			width: 100%
			line-height: 140%
			text-transform: none
			font-weight: 300
			letter-spacing: 1px
			small
				display: inline-block
				line-height: 120%
				font-size: .8rem
	a
		margin-right: .25rem
		font-size: .8rem
		&:last-child
			margin-right: 0
	#index &
		height: calc(100vh - 2rem)
		h1
			color: rgba($colorBright, .9)
			text-shadow: 1px 2px 5px $colorDefault
			.subTitle
				background: rgba($colorBright, .9)
	&.basicLayout
		h1
			color: rgba($colorBright, .9)
			text-shadow: 1px 1px 3px $black
			.subTitle
				background: rgba($colorBright, .9)
	.btnDark
		a
			background: rgba($colorBright, .8)
			color: $colorDefault








//HEADERBG
#headerBG
	display: block
	top: 0
	left: 0
	height: 100%
	width: 100%
	min-height: 100vh
	overflow: hidden
	div
		background-position: center top
		background-size: cover !important
		background-repeat: no-repeat !important
	&.figurenBG
		opacity: 1
		min-height: 75vh !important
		max-height: 75vh !important
		background: rgba(#808080, .1)
		&::after
			content: ""
			background: linear-gradient(135deg, rgba($colorCorporate ,.8) 0%,rgba($colorDark,.8) 100%)
			position: absolute
			height: 80px
			width: 100%
			display: block
		div
			min-height: 75vh !important
			max-height: 75vh !important
			animation: 35s linear 1s normal none infinite zoominout

	&.basicHeader
		min-height: 70vh !important
		max-height: 70vh !important
		div
			min-height: 70vh !important
			animation: 35s linear 1s normal none infinite zoominout

div.figur
	display: block
	position: absolute
	top: 8vh
	left: 0
	width: 100%
	min-height: 75vh
	background-position: center top !important
	background-size: contain !important
	background-repeat: no-repeat !important
	+ div
		margin-top: 5vh







//SLIDER
#slides
	//position: absolute !important
	top: 0
	height: 100%
	min-height: 100vh
	//margin-left: -2rem
	img
		top: 0 !important
	.slides-pagination
		bottom: 2rem
		a
			border-color: $white
			width: 20px
			height: 20px
			color: transparent
			&.current
				background: $white
				border-color: $white







//CARD
.card
	position: relative
	background: rgba($colorSpecial, .2)
	transform: rotateX(0) rotateY(0)
	transform-style: preserve-3d
	transition-duration: 0.1s
	transition-timing-function: ease !important
	font-family: $fontCorporate
	margin-bottom: 4rem
	//border-radius: 10px
	box-sizing: border-box
	flex-basis: calc(25% - 2rem)
	display: block
	&.is-out
		transform: rotateX(0) rotateY(0) !important
		transition-duration: 1s
	&.cardFull
		padding-left: 0
		padding-right: 0
		flex: 0 0 calc(33.3% - 2rem)
		margin-bottom: 5rem
	.cardMargin &
		margin-right: 1rem
		margin-left: 1rem

	.card_overlay
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background-size: cover
		mix-blend-mode: lighten
		opacity: 0.5

	.card_image
		margin-top: -50px
		text-align: center
		img
			max-width: 100%
			height: auto
			max-height: 250px
			z-index: 1
		.cardFull &
			margin-top: 0

	.card_heading
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		padding: 0.5rem 1rem
		color: $white
		//background: rgba($colorSpecial, 1)
		background: linear-gradient(135deg, rgba($colorDark ,1) 0%,rgba($colorDark ,1) 50%,rgba($colorCorporate,1) 100%)
		box-sizing: border-box
		//border-radius: 0 0 10px 10px

		.small
			display: inline-block
			margin-bottom: 5px
			text-transform: uppercase
			font-size: 10px
			transform: translateZ(5px)
		h3
			margin: 0
			transform: translateZ(20px)
			font-weight: 200
			text-transform: uppercase
			letter-spacing: 2px
			&.smallerH3
				font-size: 1rem
				padding-top: .2rem






//SOCIAL-BAR
.teamCard
	margin-bottom: 2rem
	&.noMgBt
		margin-bottom: 0
	.teamBild
		height: 536px
		overflow: hidden
		position: relative
		img
			width: 100%
		h3
			position: absolute
			bottom: 0
			width: 100%
			padding: 0 1rem
			color: $colorBright
			text-shadow: 1px 1px 3px $black
		&.teamBildKlein
			height: auto
	.teamDetails
		border: 1px solid $colorSpecial
		border-top: 0
		padding: 1rem
		min-height: 160px
		p
			margin-bottom: .5rem
			&:last-child
				margin-bottom: 0





//SOCIAL-BAR
#sticky-social
	right: 0
	position: fixed
	top: calc(50% - 35px)
	z-index: 99999
	ul
		list-style: none
		margin: 0
		padding: 0
	.container
		margin: 0 auto
		padding: 20px 50px
		background: white
	a
		background: #333
		color: #fff
		display: block
		height: 35px
		font: 16px "Open Sans", sans-serif
		line-height: 35px
		position: relative
		text-align: center
		width: 35px
		text-decoration: none
		span
			line-height: 35px
			right: -120px
			position: absolute
			text-align: center
			width: 120px
			transition: all ease-in-out .3s
		&:hover span
			right: 100%

a.ent-facebook, a.ent-facebook span
	background: #415a93 !important

a.ent-youtube, a.ent-youtube span
	background: #ea3223 !important

a.ent-instagram, a.ent-instagram span
	background: #843ab5 !important







//FOOTER
footer
	background: rgba($colorDefault, .4)
	text-align: center
	color: $white
	font-size: .8rem
	font-family: $fontCorporate
	padding: 1rem
	width: calc(100% - 2rem)
	height: 100vh
	display: flex
	align-items: center
	.box
		p
			text-align: left
			font-family: $fontDefault
			margin-bottom: .5rem
			&:last-child
				margin-bottom: 0
			i
				width: 2rem
				color: $colorCorporate

	form.editForm
		margin-top: 1rem
		input, textarea
			background: transparent
			font-family: $fontDefault
			padding: .5rem
			border: 0
			border-bottom: 1px solid $white
			margin-right: 1rem
			margin-bottom: 1rem
			flex-basis: calc(50% - 1rem)
			&::placeholder
				color: $white
			&:focus
				outline: none
				box-shadow: 0
				border-bottom: 1px solid $colorCorporate
		textarea
			flex-basis: calc(100% - 1rem)








//EXPLICIT
#index
	#headerBG
		display: none
	#slides
		display: block

.infoBtn, #informationen
	//display: none

.videoWrapper
	>div
		margin-bottom: 2rem

.noLink
	pointer-events: none




//GALLERY
.gallery
	column-count: 3
	column-gap: 10px
	margin-top: 10px
	overflow: hidden
	a
		display: block
		page-break-inside: avoid
		column-break-inside: avoid
		break-inside: avoid
		span
			position: relative
			display: block
			&::before
				content: ""
				position: absolute
				background: rgba($colorCorporate, .5)
				top: 0
				left: 0
				width: 100%
				height: 0
				z-index: 1
				opacity: 0
				transition: $transition2
			&::after
				content: "\f06e"
				font-family: $iconFontawesome
				font-size: 2rem
				position: absolute
				display: flex
				justify-content: center
				align-items: center
				color: $white
				top: 0
				left: 0
				width: 100%
				height: 0
				opacity: 0
				z-index: 2
				transition: $transition1
			&:hover
				cursor: pointer
				&::before, &::after
					height: calc(100% - 14px)
					opacity: 1
		img
			width: 100%
			height: auto
			transition: 500ms
			margin-bottom: 10px
			position: relative





@media screen and (min-height: 50em)
	.sl-wrapper .sl-navigation button.sl-prev
		left: 5rem !important
	.sl-wrapper .sl-navigation button.sl-next
		right: 5rem !important

@media screen and (max-width: 767px)
	.gallery
		-webkit-column-count: 2
		-moz-column-count: 2
		column-count: 2
		div
			margin: 0
			width: 200px

@media screen and (max-width: 479px)
	.gallery
		-webkit-column-count: 1
		-moz-column-count: 1
		column-count: 1
		div
			margin: 0
			width: 200px







//RESPONSIVE
@media screen and (max-width: $breakpointlg)
	.card
		flex-basis: calc(33.3% - 2rem)

@media screen and (max-width: $breakpointmd)
	.card
		flex-basis: calc(50% - 2rem)

@media screen and (max-width: $breakpointsm)
	.fullWidth
		flex-basis: 100% !important
		width: 100% !important
		max-width: 100% !important
		.kunden &
			flex-basis: 33.3% !important
			width: 33.3% !important
			max-width: 33.3% !important
		#portfolio &
			flex-basis: 49% !important
			width: 49% !important
			max-width: 49% !important
	header
		>.row
			top: 0
			left: 0
			height: 0
			width: 100%
			max-width: 100%
			&::before
				display: none
		nav
			transition: $transition2
			background: $white
			height: 100%
			width: 100%
			max-width: 100% !important
			position: absolute
			top: 0
			left: 0
			transform: translateY(-100vh)
			ul 
				height: 100%
				flex-direction: column
				justify-content: center
				align-items: center
				li
					margin-top: .5rem
					a
						color: $black
		&.open
			>.row
				height: 100%
			nav
				transform: translateY(0vh)
		.headerContent
			a
				margin-left: -87px
		.hamburger
			display: block
			top: 3rem
		.logo
			position: absolute
			top: 3rem
			left: 2rem
			width: 3rem
		&.sticky
			>.row
				background: transparent
				&::before
					display: none
			nav ul li
				margin-top: .5rem
			.hamburger, .logo
				top: 1rem
	section
		>.inner
			padding-left: 2rem
			padding-right: 2rem
	.card
		flex-basis: calc(50% - 2rem)

@media screen and (max-width: $breakpointxs)
	.card
		flex-basis: 100%