// Variables
// ======================================

// Base
$fontSizeBase:	16px;             // set base font-size in pixels

$fontSizeBody:	1em !default;
$baseEm:	16px !default; // browser default

$lineHeightBase:	1.5;
$lineHeightHx:	1.25;


// Colors
$white: #ffffff; //weiß
$black: #000000; //schwarz

$colorDefault: #333; //grau dunkel
$colorCorporate: #e5dfb0; //beeige hell
$colorExtra: #2e303c; //blau dunkel
$colorSpecial: #aaa; //grau hell
$colorDark: #b99e55; //beeige dunkel
$colorLink: $colorCorporate;
$colorBright: #fdfae8; //beeige ganz Hell


// Transition
$transition1: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
$transition2: all ease-in-out 0.3s;
$transition3: all ease-in-out 1s;

@keyframes zoominout
	0%
		transform: scale(1.0, 1.0)
	50%
		transform: scale(1.3, 1.3)
	100%
		transform: scale(1.0, 1.0)

@keyframes scroll
	0%
		opacity: 1
	100%
		opacity: 0
		transform: translateY(36px)

@keyframes rotate
	0%
		transform: rotate(0deg)
	25%
		transform: rotate(90deg)
	50%
		transform: rotate(180deg)
	75%
		transform: rotate(260deg)
	100%
		transform: rotate(360deg)

// Fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Montserrat:200,300,300i,400,500,600,700,800,900|Satisfy');
$fontDefault: 'Montserrat', sans-serif;
$fontCorporate: 'Playfair Display', serif;
$fontExtra: 'Satisfy', sans-serif;


// Icons
@import url("http://weloveiconfonts.com/api/?family=entypo|fontawesome|iconicfill|iconicstroke|maki");
$iconEntypo: 'entypo';
$iconFontawesome: 'FontAwesome';
$iconIconicfill: 'IconicFill';
$iconIconicstroke: 'IconicStroke';
$iconMaki: 'maki';


// Breakpoints
$breakpointxs:             36rem !default;      // ~ 576px
$breakpointsm:             48rem !default;      // ~ 768px
$breakpointmd:             61rem !default;      // ~ 976px
$breakpointlg:             75rem !default;      // ~ 1200px