---
title: Figuren
description: Figuren.
header_title: Figuren
header_bg: ../assets/img/referenzen/Feste.jpg
keywords: Figuren von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>Hier finden Sie unsere Figuren</p>
		</span>
	</h1>
</div>



<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 45%"></div>
</div>




<div class="container-fluid" id="unsere-figuren">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Unsere Stelzen-Figuren
			</h2>
		</div>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/candy.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/candy.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Candy Girls</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/drachenreiter.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/drachenreiter.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Drachenreiter</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/eiskoenigin.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/eiskoenigin.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Eiskönigin</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/eisprinz.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/eisprinz.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Eisprinz</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/el_sol.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/el_sol.jpg" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>El Sol</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/elefantenreiter.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/elefantenreiter.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Elefantenreiter</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/elfen.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/elfen.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Elfen</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/engel.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/engel.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Engel</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/flamingoreiter.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/flamingoreiter.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Flamingoreiter</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/fleur.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/fleur.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Fleur</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/fleurdeluxe.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/fleurdeluxe.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Fleur de Luxe</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/flowers.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/flowers.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Flowers</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/fuffel.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/fuffel.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Fuffel</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/galaxis.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/galaxis.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Galaxis</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/granddame.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/granddame.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Grand Dame</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/hasen.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/hasen.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Hasen</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/herzdame.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/herzdame.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Herzdame</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/hoellenhunde.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/hoellenhunde.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Höllenhunde</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/insect.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/insect.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Insect</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/kamelreiterin.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/kamelreiterin.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Kamelreiterin</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/kingkrebs.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/kingkrebs.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>King Krebs</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/kosmischervogel.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/kosmischervogel.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Kosmischer Vogel</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/laluna.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/laluna.jpg" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>La Luna</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/loewe.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/loewe.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Löwe</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/madame_manege.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/madame_manege.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>M. & Mme Manège</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/meerjungfrau.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/meerjungfrau.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Meerjungfrau</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/meermann.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/meermann.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Meermann</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/mermaid.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/mermaid.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Mermaid</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/miro.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/miro.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Miro</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/mondfrauen.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/mondfrauen.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Mondfrauen</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/moneymaker.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/moneymaker.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Mr. Moneymaker</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/oktavia.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/oktavia.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Oktavia</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/ozeana.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/ozeana.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Ozeana</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/papillion.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/papillion.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Papillion</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/poet.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/poet.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Poet</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/prinzessinsterne.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/prinzessinsterne.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Sternenprinzessin</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/raupe.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/raupe.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Raupe</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/ritterroland.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/ritterroland.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Ritter Roland</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/rosenprinzessin.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/rosenprinzessin.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Rosenprinzessin</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/schmetterling.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/schmetterling.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Schmetterling</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/seepferdchenreiter.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/seepferdchenreiter.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3 class="smallerH3">Seepferdchenreiter</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/terramagica.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/terramagica.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Terra Magica</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/timetraveler.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/timetraveler.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Time Traveler</h3>
			</div>
		</a>

		

		
	</div>
</div>
