---
title: Start
description: Lorem ipsum.
header_title: Willkommen
header_bg: /assets/img/WorldofWater5.jpg
keywords: Stelzen-Art bietet Stelzen-Kunst aus Deutschland
---

<div class="headerContent">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p><b>Stelzenkunst der besonderen Art</b></p>
			<p>Mit über 100 Figuren bietet Stelzen-Art eines der umfangreichsten Repertoires an außergewöhnlichen Stelzenkreationen.</p>
			<p>Blütenprinzessinnen aus Flora und Fauna, verspielte Drachenreiter & Höllenhunde, illuminierte Wesen aus fernen Galaxien, oder ein ganzer Unterwasser Hofstaat.</p>
			<p>Tauchen sie ein in die Welt von Stelzen-Art!</p>
		</span>
	</h1>
</div>

<div id="slides">
  	<div class="slides-container">
  		<img src="/assets/img/Enchanted_Garden.jpg" alt="">
    	<img src="/assets/img/CircusinWonderland.jpg" alt="">
    	<img src="/assets/img/WorldofWater5.jpg" alt="">
	</div>
</div>


<div class="container-fluid greyBg">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Unser Design
			</h2>

				<p>	Unser Design ist wie aus „einer Hand“ gefertigt, deshalb sind bei Stelzen-Art alle Figuren kombinierbar und ergeben in jeder Variation eine neue, stimmige Einheit.  Stelzen-Art bietet spezielle Themen für ihren Event und einen reichen Fundus an Walk-Act's bis hin zu großen Paradenformationen und  Inszenierungen!
				</p>
				
		</div>

	</div>
</div>

<div class="pBG" id="pBG1" data-type="background" data-speed="5" data-position="center">
	<img src="{{root}}assets/img/color_of_nature.jpg" alt=""/>
	<div class="row">
		<div class="col-xs-12">
			<div class="pText">
				<p class="fontExtra">Kunst auf Stelzen</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Unsere Stelzen-Figuren
			</h2>
		</div>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/madame_manege.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/madame_manege.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Madame Manege</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/schmetterling.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/schmetterling.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Schmetterling</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/herzdame.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/herzdame.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Herzdame</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 button" href="figuren.html">Weitere Figuren</a>
	</div>
</div>
