---
title: Produktionen
description: Hier finden Sie unsere hauseigene Produktionen aus dem Hause Stelzen-Art.
header_title: Produktionen
header_bg: /assets/img/produktionen/colorofnature/colorofnature_1.jpg
keywords: Produktionen aus dem Hause Stelzen-Art aus Bremen
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p> Hier finden sie unsere phantastischen Themenwelten. Bewährten Kombinationen für Walk Act, große Paraden & Shows
- der Phantasie sind keine Grenzen gesetzt!</p>
		</span>
	</h1>
</div>


<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 25%"></div>
</div>


<div class="container-fluid">
	<div class="row first-xs cardMargin">
		<div class="col-xs-12">
			<h2>
				Unsere Produktionen
			</h2>
		</div>

		<a class="col-lg-4 col-xs-12 card cardFull" href="/produktionen/colorofnature.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/produktionen/colorofnature/colorofnature_1.jpg" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Produktionen</span>
				<h3>Color of Nature</h3>
			</div>
		</a>

		<a class="col-lg-4 col-xs-12 card cardFull" href="/produktionen/enchantedgarden.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/produktionen/enchantedgarden/enchantedgarden_2.jpg" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Produktionen</span>
				<h3>Enchanted Garden</h3>
			</div>
		</a>

	</div>
</div>
