---
title: Referenzen
description: Hier finden Sie Referenzen unserer Veranstaltungen wie Feste, Paraden, Galas, Firmenevents, Festivals, Event, Lichternächte, Inszenierungen, Promotiontouren, Messen, Preisträger, national & international.s
header_title: Referenzen
header_bg: /assets/img/color_of_nature.jpg
keywords: Referenzen von Stelzen-Art aus Bremen
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>Hier finden Sie Referenzen unserer Veranstaltungen wie Feste, Paraden, Galas, Firmenevents, Festivals, Event, Lichternächte, Inszenierungen, Promotiontouren, Messen, Preisträger, national & international.</p>
		</span>
	</h1>
</div>


<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 25%"></div>
</div>


<div class="container-fluid">
	<div class="row first-xs cardMargin">

		<div class="col-xs-12">
			<h2>
				Ein Auszug unserer Referenzen
			</h2>
		</div>

		<a class="col-lg-4 col-xs-12 card cardFull" href="/referenzen/feste_paraden.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/referenzen/Feste.jpg" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Referenzen</span>
				<h3>Feste</h3>
			</div>
		</a>

		<a class="col-lg-4 col-xs-12 card cardFull" href="/referenzen/galas_firmenevents.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/referenzen/Gala-Events.jpg" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Referenzen</span>
				<h3>Galas & Events</h3>
			</div>
		</a>

		<a class="col-lg-4 col-xs-12 card cardFull" href="/referenzen/festivals_events.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/referenzen/Festivals.jpg" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Referenzen</span>
				<h3>Festivals & Events</h3>
			</div>
		</a>

		<a class="col-lg-4 col-xs-12 card cardFull" href="/referenzen/lichternaechte.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/referenzen/Stelzen-Art_edit.jpg" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Referenzen</span>
				<h3>Lichternächte</h3>
			</div>
		</a>

		<a class="col-lg-4 col-xs-12 card cardFull" href="/referenzen/inszenierungen.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/referenzen/Inszenierungen.jpg" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Referenzen</span>
				<h3>Inszenierungen</h3>
			</div>
		</a>

		<a class="col-lg-4 col-xs-12 card cardFull" href="/referenzen/promotiontouren.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/referenzen/Promotiontouren_edit.jpg" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Referenzen</span>
				<h3>Promotouren & Messen</h3>
			</div>
		</a>

		<a class="col-lg-4 col-xs-12 card cardFull" href="/referenzen/preistraeger.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/referenzen/Preistraeger.jpg" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Referenzen</span>
				<h3>Preisträger</h3>
			</div>
		</a>


	</div>
</div>
