---
title: Über uns
description: Ob anmutige Blütenprinzessinnen, verspielte Drachenreiter, betörende Meerjungfrauen, freche Flamingos oder kosmische Vögel - Stelzen-Art bietet ein vielfältiges Repertoire an außergewöhnlichen Kostümkreationen für jeden Anlass.
header_title: Über uns
header_bg: /assets/img/Enchanted_Garden.jpg
keywords: Stelzen-Art bietet Stelzen-Kunst aus Deutschland
---


<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p> Ob anmutige Blütenprinzessinnen, verspielte Drachenreiter, betörende Meerjungfrauen, freche Flamingos oder kosmische Vögel - Stelzen-Art bietet ein vielfältiges Repertoire an außergewöhnlichen Kostümkreationen für jeden Anlass …</p>
		</span>
		<div class="btnWrapper scroll btnDark">
			<a class="button" href="#start">
				Start
			</a>
			<a class="button" href="#team">
				Team
			</a>
			<a class="button" href="#geschichte">
				Geschichte
			</a>
			<a class="button" href="#impressionen">
				Impressionen
			</a>
		</div>
	</h1>
</div>


<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 25%"></div>
</div>


<div class="container-fluid" id="start">
	<div class="row first-xs">
		<div class="col-xs-12">
			<h2>
				Stelzen-Kunst der besonderen Art
			</h2>
		</div>
		<div class="col-xs-12">
			<p>
				Ob anmutige Blütenprinzessinnen, verspielte Drachenreiter, betörende Meerjungfrauen, freche Flamingos oder kosmische Vögel - Stelzen-Art bietet ein vielfältiges Repertoire an außergewöhnlichen Kostümkreationen für jeden Anlass.
			</p>
			<p>
				Liebevoll gestaltete Stelzenfiguren für Events, Theaterproduktionen und Spektakel im In- und Outdoor- Bereich. Je nach Veranstaltungsgröße stehen zauberhafte Einzelakteure, verspielte Duos oder beeindruckende Gruppenformationen mit bis zu 20 Akteuren zur Verfügung. Fortlaufende Weiterentwicklung von neuen Kreationen, auch für maßgeschneiderte Aufträge und Konzepte. 
			</p>
		</div>
	</div>
</div>

<div class="container-fluid greyBg" id="team">
	<div class="row first-xs">

		<div class="col-xs-12">
			<h2>
				Das Stelzen-Art-Team
			</h2>
		</div>

		<div class="col-lg-6 col-xs-12 teamCard noMgBt">
			<div class="teamBild">
		      <img src="{{root}}assets/img/team/oben Janine Jaeggi.jpg" alt="" style="margin-top: 0"/> 
		      <h3>Janine Jaeggi</h3>
		    </div> 
		    <div class="teamDetails">
				<p>Die Schweizer Künstlerin ist Gründerin von Stelzen-Art.<br>
				Sie entwickelt als freischaffende Künstlerin seit vielen Jahren ihren eigenen Stil in den Bereichen Stelzenkunst und Kostümdesign.</p>
				<p>Sie ist künstlerische Leiterin des Bremer Karnevals, Gründungsmitglied der Percussiongruppen Confusao und Tambour. Initiatorin zahlreicher Theater- Tanz- und Musikprojekte, Unterrichttätigkeit im In- und Ausland.</p>
			</div>
		</div>

		<div class="col-lg-6 col-xs-12 teamCard noMgBt">
			<div class="teamBild">
		      <img src="{{root}}assets/img/team/oben Martin Sasse.jpg" alt="" style="margin-top: 0"/> 
		      <h3>Martin Sasse</h3>
		    </div> 
		    <div class="teamDetails">
				<p>Aufgewachsen in Tansania, Ostafrika. Studienaufenthalte in Indien, New York und Brasilien. Seit 2003 Partner bei Stelzen- Art und Gründungsmitglied der Jaeggi/Sasse GbR.</p>
				<p>Diplom Ingenieur Architektur, Maurer, Eventdesigner, DJ, Programmdirektor Bremer Karneval, Percussionist und Gründungsmitglied der Gruppen Confusao und Tambour.</p>
			</div>
		</div>
	</div>

	<div class="lightHr">
	</div>

	<div class="row first-xs">
		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/1 Ramona Schmalen.jpg" alt=""/> 
		      <h3>Ramona Schmalen</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/2 Frank Suhrkamp.jpg" alt=""/> 
		      <h3>Frank Suhrkamp</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/3 Petra Siekermann.jpg" alt=""/> 
		      <h3>Petra Siekermann</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/4 Martin Bogus.jpg" alt=""/> 
		      <h3>Martin Bogus</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/5 Nina Scholz.jpg" alt=""/> 
		      <h3>Nina Scholz</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/6 Julia Schober.jpg" alt=""/> 
		      <h3>Julia Schober</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/7 Anouk Jaeggi.jpg" alt=""/> 
		      <h3>Anouk Jaeggi</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/8 Eggert Meynerts.jpg" alt=""/> 
		      <h3>Eggert Meynerts</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/9 Helena Meier.jpg" alt=""/> 
		      <h3>Helena Meier</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/10 Alexander Raediker.jpg" alt=""/> 
		      <h3>Alexander Raediker</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/11 Merle Freund.jpg" alt=""/> 
		      <h3>Merle Freund</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/12 Julian Baumann.jpg" alt=""/> 
		      <h3>Julian Baumann</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/13 Lisa Schlecker.jpg" alt=""/> 
		      <h3>Lisa Schlecker</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/14 Johanna Sander.jpg" alt=""/> 
		      <h3>Johanna Sander</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/15 Christine Thevissen.jpg" alt=""/> 
		      <h3>Christine Thevissen</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/16 Marcella Amatamia.jpg" alt=""/> 
		      <h3>Marcella Amatamia</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/17 Agnes Rademacher.jpg" alt=""/> 
		      <h3>Agnes Rademacher</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/18 Carla Mauksch.jpg" alt=""/> 
		      <h3>Carla Mauksch</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/19 Reena Mauksch.jpg" alt=""/> 
		      <h3>Reena Mauksch</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/20 Carola Schulz.jpg" alt=""/> 
		      <h3>Carola Schulz</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/21 Christine Eckert.jpg" alt=""/> 
		      <h3>Christine Eckert</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/22 Dietmar Hatesuer.jpg" alt=""/> 
		      <h3>Dietmar Hatesuer</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/23 Kathrin Pelz.jpg" alt=""/> 
		      <h3>Kathrin Pelz</h3>
		    </div> 
		</div>

		<div class="col-lg-3 col-md-4 col-xs-12 teamCard">
			<div class="teamBild teamBildKlein">
		      <img src="{{root}}assets/img/team/24 Nick Rodewyk.jpg" alt=""/> 
		      <h3>Nick Rodewyk</h3>
		    </div> 
		</div>
	</div>
</div>

<div class="container-fluid" id="geschichte">
	<div class="row first-xs">
		<div class="col-xs-12">
			<h2>
				Die Geschichte von Stelzen-Kunst
			</h2>
		</div>
		<div class="col-xs-12">
			<p>
				Durch die jahrelange Beschäftigung mit der Kostümherstellung für den Bremer Karneval, die Gruppe Confusão, Tambour und verschiedenste Tanz- und Theaterproduktionen entwickelte sich immer mehr eine gestalterisch eigenständige Ausdruckskraft.
				Im Jahr 2000 lernte Janine Jaeggi bei der "Theatergruppe Antagon Theater Aktion" Frankfurt, für die Produktion "Equinox Terminal" das Stelzenlaufen. Der Reiz, durch Hochstelzen die Maße des menschlichen Körpers im Kostüm zu erweitern und neue Spielfiguren entstehen zu lassen war geweckt! ( J. Jaeggi)
			</p>
			<br><br>
			<p>
				So entstehen im Dachatelier des Theaterkontor Bremen- der Kreativschmiede von Stelzen-Art- seit 2001, die vielfältigen Stelzen-Kreationen für Eigen- und Auftragsproduktionen. 2001 wurde Stelzen-Art mit der ersten Figur: "Fleur" ins Leben gerufen. 1 Jahr später (2002) entstanden im Zusammenhang mit meinem Theatergroßprojekt "Klein Nemo in Schlummerland" mehrere "Stelzen-Art Klassiker" wie: "Rosenprinzessin", "La Luna", "Queen of Pop" und "Die Flamingoreiter".
			</p>
			<br><br>
			<div class="specialBox">
				<p>
					Seit 2003 kommt jedes Jahr neue Einzelfiguren- und zum jeweiligen künstlerischen Thema des Bremer Karneval eine neue Großproduktion hinzu:
					<ul class="listStyle spalten">
						<li>"Die kosmischen Vögel" (2003)</li>
						<li>"Drachenreiter" (2004)</li>
						<li>"Insects" (2005)</li>
						<li>"Grande Dame" (2006)</li>
						<li>"Galaxis" (2007)</li>
						<li>"Fleur de Luxe" (2008)</li>
						<li>"Roter Löwe" (2009)</li>
						<li>"Unterwasserhofstaat" (2010)</li>
						<li>"Alice in Wonderland" (2011)</li>
						<li>Mr. Moneymaker (2013)</li>
						<li>ARA BRASIL (2014)</li>
						<li>Circus (2015)</li>
						<li>Blume& Schmetterling (2016)</li>
						<li>Timetraveler (2017)</li>
						<li>Mars& Venus (2018)</li>
					</ul>
				</p>
			</div>
			<p>
				Für die Einzelkostüme und Promotion- Touren entwickelte sich in den ersten Jahren eine produktive Zusammenarbeit mit der Schneiderin Agnes Rademacher und der Schneiderin Kathrin Pelz. Mittlerweilen arbeitet ein Ensembles von bis zu 20 Stelzenakteuren kontinuierlich an den Produktionen. 
			</p>
			<br><br>
			<p>
				Das Repertoire von Stelzen-Art umfasst mittlerweilen über 120 Stelzen- Kreationen.
				Beim Karneval der Kulturen Berlin 2003, 2005 und 2007 erreichte die Gruppe in Berlin den 1. Platz in allen Kategorien des Umzugs-Wettbewerbs zusammen mit der Berliner Gruppe: "Sapucaiu no Samba"(www.sapucaiu.de). 2017 wurde die Gruppe dank Stelzen-Art, für den ersten Preis für die schönensten Kostüme ausgezeichnet. 
			</p>
			<br><br>
			<p>
				Weitere Auszeichnungen folgten z.B. auf der "Altonale" und "STAMP 2010" in Hamburg und dem "Karneval in Aalborg", Denmark (2008 4. Platz/ 2009 3. Platz /2010 3. Platz / 2011 2. Platz 2015 1.Platz!) 2017 erhilten sie den 1. Platz bei Folwer Festival in Debrecene in Ungarn, hierfür war Stelzen-Art eine der ersten ausländischen Gruppen die diese Ehre erhielt. 
				Über 100 Auftritte pro Jahr werden im In- und Ausland mit Erfolg durchgeführt. So reiste u.a. Stelzen-Art zusammen mit der Gruppe Confusao 2004 über das Goethe Institut nach Namibia und 2008 nach Palästina und 2009 zum Umweltfilmfestival nach Armenien.Und ist seid 2015 jedes Jahr in China beim spekakulären Neujahrsfest eingeladen. 
			</p>
			<br><br>
			<p>
				Alleine 2017 waren sie für Auftritte in Ungarn, Kroatien, Rümänien, Russland, Letland, Frankreich, Spanien, Luxembourg, Schweiz und Irland unterwegs.
				Seit 2005 gehört Stelzen-Art zur Jaeggi/Sasse GbR mit den Gesellschaftern Janine Jaeggi und Martin Sasse.
				Stelzen-Art umfasst einen größeren Pool an professionellen Stelzenakteuren, mehrere Aufträge pro Termin/ Tag sind somit möglich.
			</p>
			<br><br>
			<p>
				Wir freuen uns auf neue Herausforderungen!
			</p>
		</div>
	</div>
</div>


<div class="container-fluid" id="impressionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Impressionen
			</h2>
		</div>
		<div class="col-xs-12">
			<div class="gallery">
			    <a href="{{root}}/assets/img/galerie/ara/ARAS Stelzen-Art ARAS.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/ara/ARAS Stelzen-Art ARAS.jpg" alt="" />
			    	</span>
			    </a>

			    <a href="{{root}}/assets/img/galerie/ara/ARAS Stelzen-Art_c_3.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/ara/ARAS Stelzen-Art_c_3.jpg" alt="" />
			    	</span>
			    </a>

			    <a href="{{root}}/assets/img/galerie/ara/ARAS Stelzen-Art.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/ara/ARAS Stelzen-Art.jpg" alt="" />
			    	</span>
			    </a>

			    <a href="{{root}}/assets/img/galerie/ara/duo_ara.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/ara/duo_ara.jpg" alt="" />
			    	</span>
			    </a>

			    <a href="{{root}}/assets/img/galerie/ara/duo_ara.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/ara/duo_ara.jpg" alt="" />
			    	</span>
			    </a>

			    <a href="{{root}}/assets/img/galerie/ara/duo_ara.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/ara/duo_ara.jpg" alt="" />
			    	</span>
			    </a>
			</div>
		</div>
	</div>
</div>