<div class="background">
	<img src="{{root}}/assets/img/Stelzen-Art-Circus.jpg" alt=""/>
</div>
<div class="container-fluid" id="kontakt">
	<div class="row">
		<div class="col-lg-6 col-xs-12">
			<div class="row between-xs box font1">
				<p class="col-xs-12 font1-2 colorCorporate font700 fontUpper">Stelzen-Art</p>
				<p class="col-xs-12"><i class="fas fa-map-marker"></i>Weberstr. 44</p>
				<p class="col-xs-12"><i class="fas fa-map"></i>D-28203 Bremen</p>
				<p class="col-xs-12"><i class="fas fa-phone"></i>0421 - 71047</p>
				<p class="col-xs-12"><i class="fas fa-mobile"></i>0179 - 499 67 16</p>
				<p class="col-xs-12"><i class="fas fa-fax"></i>0421 - 7947033</p>
				<p class="col-xs-12"><i class="fas fa-envelope"></i><a href="mailto:info@stelzen-art.de">info@stelzen-art.de</a></p>
				<p class="col-xs-12"><i class="fas fa-info"></i><a href="/impressum">Impressum</a> | <a href="/impressum">Datenschutz</a></p>
			</div>
		</div>
		<div class="col-lg-6 col-xs-12">
			<p class="specialBox font1-2 start-xs">Nehmen Sie Kontakt mit uns auf und wir Informieren Sie gerne über weitere Möglichkeiten und Figuren</p>
			<form id="formular" class="editForm" name="contactform" method="post" action="{{root}}/send_mail.php">
				<div class="row between-xs">
					<input  class="col-lg-6 col-xs-12" type="text" name="first_name" maxlength="50" size="30" placeholder="Vorname">
					<input  class="col-lg-6 col-xs-12" type="text" name="last_name" maxlength="50" size="30" placeholder="Nachname">
					<input  class="col-lg-6 col-xs-12" type="email" name="email" maxlength="80" size="30" placeholder="E-Mail">
					<input  class="col-lg-6 col-xs-12" type="tel" name="telephone" maxlength="30" size="30" placeholder="Telefon">
					<textarea  class="col-lg-12 col-xs-12" name="comments" maxlength="1000" placeholder="Nachricht"></textarea>
					<input name="submit" value="Abschicken" class="button col-lg-6 col-xs-12" type="submit">
				</div>
			</form>

		</div>
	</div>
</div>