<div class="row">
	<div class="inner">
		<div class="col-xs-3">
			<div class="logo">
				<a href="/">
					<img src="{{root}}/assets/img/01_stelzenart_logo.png">
				</a>
			</div>
		</div>
		<nav class="col-xs-9">
			<ul id="menu" class="{{ page }}">
				<li><a href="/" data-hover="Home">Home</a></li>
				<li class="subemenu">
					<a href="/figuren.html" data-menu="figuren" data-hover="Figuren">Figuren</a>
					<ul class="submenuWrapper">
						<li>
							<a href="/figuren.html#unsere-figuren" data-menu="figuren" data-hover="Alle Figuren">Alle Figuren</a>
						</li>
						<li>
							<a href="/figuren/aras.html" data-menu="figuren" data-hover="Aras">Aras</a>
						</li>
						<li>
							<a href="/figuren/candy.html" data-menu="figuren" data-hover="Candy Girls">Candy Girls</a>
						</li>
						<li>
							<a href="/figuren/elfen.html" data-menu="figuren" data-hover="Elfen">Elfen</a>
						</li>
						<li>
							<a href="/figuren/eiskoenigin.html" data-menu="figuren" data-hover="Eiskönigin">Eiskönigin</a>
						</li>
						<li>
							<a href="/figuren/drachenreiter.html" data-menu="figuren" data-hover="Drachenreiter">Drachenreiter</a>
						</li>
						<li>
							<a href="/figuren/hasen.html" data-menu="figuren" data-hover="Hasen">Hasen</a>
						</li>
						<li>
							<a href="/figuren/eisprinz.html" data-menu="figuren" data-hover="Eisprinz">Eisprinz</a>
						</li>
						<li>
							<a href="/figuren/engel.html" data-menu="figuren" data-hover="Engel">Engel</a>
						</li>
						<li>
							<a href="/figuren/elefantenreiter.html" data-menu="figuren" data-hover="Elefantenreiter">Elefantenreiter</a>
						</li>
						<li>
							<a href="/figuren/el_sol.html" data-menu="figuren" data-hover="El Sol">El Sol</a>
						</li>
						<li>
							<a href="/figuren/fuffel.html" data-menu="figuren" data-hover="Fuffel">Fuffel</a>
						</li>
						<li>
							<a href="/figuren/flamingoreiter.html" data-menu="figuren" data-hover="Flamingoreiter">Flamingoreiter</a>
						</li>
						<li>
							<a href="/figuren/fleurdeluxe.html" data-menu="figuren" data-hover="Fleur de Luxe">Fleur de Luxe</a>
						</li>
						<li>
							<a href="/figuren/fleur.html" data-menu="figuren" data-hover="Fleur">Fleur</a>
						</li>
						<li>
							<a href="/figuren/flowers.html" data-menu="figuren" data-hover="Flowers">Flowers</a>
						</li>
						<li>
							<a href="/figuren/galaxis.html" data-menu="figuren" data-hover="Galaxis">Galaxis</a>
						</li>
						<li>
							<a href="/figuren/granddame.html" data-menu="figuren" data-hover="Grand Dame">Grand Dame</a>
						</li>
						<li>
							<a href="/figuren/herzdame.html" data-menu="figuren" data-hover="Herzdame">Herzdame</a>
						</li>
						<li>
							<a href="/figuren/hoellenhunde.html" data-menu="figuren" data-hover="Höllenhunde">Höllenhunde</a>
						</li>
						<li>
							<a href="/figuren/insect.html" data-menu="figuren" data-hover="Insect">Insect</a>
						</li>
						<li>
							<a href="/figuren/kamelreiterin.html" data-menu="figuren" data-hover="Kamelreiterin">Kamelreiterin</a>
						</li>
						<li>
							<a href="/figuren/kingkrebs.html" data-menu="figuren" data-hover="King Krebs">King Krebs</a>
						</li>
						<li>
							<a href="/figuren/kosmischervogel.html" data-menu="figuren" data-hover="Kosmischer Vogel">Kosmischer Vogel</a>
						</li>
						<li>
							<a href="/figuren/laluna.html" data-menu="figuren" data-hover="La Luna">La Luna</a>
						</li>
						<li>
							<a href="/figuren/loewe.html" data-menu="figuren" data-hover="Löwe">Löwe</a>
						</li>
						<li>
							<a href="/figuren/meerjungfrau.html" data-menu="figuren" data-hover="Meerjungfrau">Meerjungfrau</a>
						</li>
						<li>
							<a href="/figuren/meermann.html" data-menu="figuren" data-hover="Meermann">Meermann</a>
						</li>
						<li>
							<a href="/figuren/mermaid.html" data-menu="figuren" data-hover="Mermaid">Mermaid</a>
						</li>
						<li>
							<a href="/figuren/mondfrauen.html" data-menu="figuren" data-hover="Mondfrauen">Mondfrauen</a>
						</li>
						<li>
							<a href="/figuren/madame_manege.html" data-menu="figuren" data-hover="M. & Mme. Manege">M. & Mme. Manege</a>
						</li>
						<li>
							<a href="/figuren/moneymaker.html" data-menu="figuren" data-hover="Mr. Moneymaker">Mr. Moneymaker</a>
						</li>
						<li>
							<a href="/figuren/miro.html" data-menu="figuren" data-hover="Miro">Miro</a>
						</li>
						<li>
							<a href="/figuren/oktavia.html" data-menu="figuren" data-hover="Oktavia">Oktavia</a>
						</li>
						<li>
							<a href="/figuren/ozeana.html" data-menu="figuren" data-hover="Ozeana">Ozeana</a>
						</li>
						<li>
							<a href="/figuren/papillion.html" data-menu="figuren" data-hover="Papillion">Papillion</a>
						</li>
						<li>
							<a href="/figuren/prinzessinsterne.html" data-menu="figuren" data-hover="Sternenprinzessin">Sternenprinzessin</a>
						</li>
						<li>
							<a href="/figuren/poet.html" data-menu="figuren" data-hover="Poet">Poet</a>
						</li>
						<li>
							<a href="/figuren/raupe.html" data-menu="figuren" data-hover="Raupe">Raupe</a>
						</li>
						<li>
							<a href="/figuren/ritterroland.html" data-menu="figuren" data-hover="Ritter Roland">Ritter Roland</a>
						</li>
						<li>
							<a href="/figuren/rosenprinzessin.html" data-menu="figuren" data-hover="Rosenprinzessin">Rosenprinzessin</a>
						</li>
						<li>
							<a href="/figuren/schmetterling.html" data-menu="figuren" data-hover="Schmetterling">Schmetterling</a>
						</li>
						<li>
							<a href="/figuren/seepferdchenreiter.html" data-menu="figuren" data-hover="Seepferdchenreiter">Seepferdchenreiter</a>
						</li>
						<li>
							<a href="/figuren/terramagica.html" data-menu="figuren" data-hover="Terra Magica">Terra Magica</a>
						</li>
						<li>
							<a href="/figuren/timetraveler.html" data-menu="figuren" data-hover="Time Traveler">Time Traveler</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<a href="/produktion.html" data-menu="produktionen" data-hover="Produktion">Produktion</a>
					<ul class="submenuWrapper">
						<li>
							<a href="/produktionen/colorofnature.html" data-menu="produktionen" data-hover="Color of Nature">Color of Nature</a>
						</li>
						<li>
							<a href="/produktionen/enchantedgarden.html" data-menu="produktionen" data-hover="Enchanted Garden">Enchanted Garden</a>
						</li>
						<li>
							<a href="/produktionen/circuswonderland.html" data-menu="produktionen" data-hover="Circus Wonderland">Circus Wonderland</a>
						</li>
						<li>
							<a href="/produktionen/underwater.html" data-menu="produktionen" data-hover="Underwater">Underwater</a>
						</li>
						<li>
							<a href="/produktionen/nightoflight.html" data-menu="produktionen" data-hover="Night of light">Night of light</a>
						</li>
						<li>
							<a href="/produktionen/timetraveller.html" data-menu="produktionen" data-hover="Time Traveller">Time Traveller</a>
						</li>
						<li>
							<a href="/produktionen/arabrasil.html" data-menu="produktionen" data-hover="Ara Brasil">Ara Brasil</a>
						</li>
						<li>
							<a href="/produktionen/kapelle.html" data-menu="produktionen" data-hover="Kapelle">Kapelle</a>
						</li>
						<li>
							<a href="/produktionen/alice.html" data-menu="produktionen" data-hover="Alice in Wonderland">Alice in Wonderland</a>
						</li>
						<li>
							<a href="/produktionen/imagocaeli.html" data-menu="produktionen" data-hover="Imago Caeli">Imago Caeli</a>
						</li>
						<li>
							<a href="/produktionen/freecracy.html" data-menu="produktionen" data-hover="Freecracy">Freecracy</a>
						</li>
					</ul>

				</li>
				<li><a href="/video.html" data-hover="Video">Video</a></li>
				<li><a href="/termine.html" data-hover="Termine">Termine</a></li>
				<li>
					<a href="/referenzen.html" data-menu="referenzen" data-hover="Referenzen">Referenzen</a>
					<ul class="submenuWrapper">
						<li>
							<a href="/referenzen/feste_paraden.html" data-menu="referenzen" data-hover="Feste & Paraden">Feste & Paraden</a>
						</li>
						<li>
							<a href="/referenzen/festivals_events.html" data-menu="referenzen" data-hover="Festivals & Events">Festivals & Events</a>
						</li>
						<li>
							<a href="/referenzen/galas_firmenevents.html" data-menu="referenzen" data-hover="Galas & Firmenevents">Galas & Firmenevents</a>
						</li>
						<li>
							<a href="/referenzen/inszenierungen.html" data-menu="referenzen" data-hover="Inszenierungen">Inszenierungen</a>
						</li>
						<li>
							<a href="/referenzen/lichternaechte.html" data-menu="referenzen" data-hover="Lichternächte">Lichternächte</a>
						</li>
						<li>
							<a href="/referenzen/preistraeger.html" data-menu="referenzen" data-hover="Preisträger">Preisträger</a>
						</li>
						<li>
							<a href="/referenzen/promotiontouren.html" data-menu="referenzen" data-hover="Promotiontouren">Promotiontouren</a>
						</li>
					</ul>
				</li>
				<li><a href="/ueber_uns.html" data-hover="Über uns">Über uns</a></li>
				<li><a href="#kontakt" data-hover="Kontakt">Kontakt</a></li>
			</ul>
		</nav>
		<div class="hamburger">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</div>
	</div>
	<div class="icon-scroll"></div>
</div>