---
title: Time Traveler
description: Figuren-Time Traveler.
header_title: Time Traveler
figur: /assets/img/iso/timetraveler.png
keywords: Time Traveler von Stelzen-Art
---

<div class="headerContent">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>Dieses Paar präsentiert die ganz große Zeit der nostalgischen und romantischen Zirkusse. Im samt roten Kleid der Madame spiegelt sich die faszinierende Welt der Artisten. Hier haben die Tiere die Oberhand und lassen flux den Zauberer im Hut verschwinden oder den Dompteur durch den Reifen springen.</p>
		</span>
		<div class="btnWrapper scroll">
			<a class="button" href="#impressionen">
				Impressionen
			</a>
			<a class="button" href="#produktionen">
				Produktionen
			</a>
			<a class="button videosBtn" href="#videos">
				Videos
			</a>
			<a class="button infoBtn" href="#informationen">
				Infos
			</a>
		</div>
	</h1>
</div>



<div class="figurenBG" id="headerBG">
	<div style="background: url({{ header_bg }}); background-position: center 25%"></div>
</div>
<div class="figur" style="background: url({{ figur }});"></div>




<div class="container-fluid" id="impressionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Impressionen
			</h2>
		</div>
		<div class="col-xs-12">
			<div class="gallery">
			    <a href="{{root}}/assets/img/galerie/timetraveler/timetraveler_1.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/timetraveler/timetraveler_1.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/galerie/timetraveler/timetraveler_2.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/timetraveler/timetraveler_2.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/galerie/timetraveler/timetraveler_3.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/timetraveler/timetraveler_3.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/galerie/timetraveler/timetraveler_4.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/timetraveler/timetraveler_4.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/galerie/timetraveler/timetraveler_5.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/timetraveler/timetraveler_5.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/galerie/timetraveler/timetraveler_6.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/timetraveler/timetraveler_6.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/galerie/timetraveler/timetraveler_7.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/timetraveler/timetraveler_7.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/galerie/timetraveler/timetraveler_8.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/timetraveler/timetraveler_8.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/galerie/timetraveler/timetraveler_9.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/timetraveler/timetraveler_9.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/galerie/timetraveler/timetraveler_10.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/timetraveler/timetraveler_10.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/galerie/timetraveler/timetraveler_11.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/timetraveler/timetraveler_11.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/galerie/timetraveler/timetraveler_12.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/timetraveler/timetraveler_12.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/galerie/timetraveler/timetraveler_13.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/timetraveler/timetraveler_13.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/galerie/timetraveler/timetraveler_14.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/timetraveler/timetraveler_14.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/galerie/timetraveler/timetraveler_15.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/timetraveler/timetraveler_15.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/galerie/timetraveler/timetraveler_16.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/galerie/timetraveler/timetraveler_16.jpg" alt="" />
			    	</span>
			    </a>
			</div>
		</div>
	</div>
</div>



<div class="container-fluid greyBg" id="produktionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Produktionen
			</h2>
		</div>

		<div class="col-xs-12"> 
			<ul class="listStyle spalten font1-2">
				<li>Produktion #1</li>
				<li>Produktion #2</li>
				<li>Produktion #3</li>
				<li>Produktion #4</li>
				<li>Produktion #5</li>
				<li>Produktion #6</li>
				<li>Produktion #7</li>
				<li>Produktion #8</li>
			</ul>
		</div>
	</div>
</div>


<div class="container-fluid" id="videos">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Videos
			</h2>
		</div>

		<div class="col-lg-4 cwol-sm-6 col-xs-12">

		</div>
	</div>
</div>


<div class="container-fluid brownBg" id="informationen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Weitere Informationen
			</h2>
		</div>

		<div class="col-xs-12"> 
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor.

Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor.
		</div>
	</div>
</div>
