---
title: Alice in Wonderland
description: In einer rasanten Kurzperformance wird die Geschichte rund um die kleine Alice und ihrer farbigen Phantasiewelt erzählt. Herzdame bevölkern die Szenerie von Wonderland. Alle Figuren sind auch als Walk-Act geeignet.
header_title: Alice in Wonderland
header_bg: ../assets/img/produktionen/alice/alice_8.jpg
keywords: Alice in Wonderland von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>In einer rasanten Kurzperformance wird die Geschichte rund um die kleine Alice und ihrer farbigen Phantasiewelt erzählt. Burleske Hasen, wilde Höllenhunde und die herrschsüchtige  Herzdame bevölkern die Szenerie von Wonderland. Alle Figuren sind auch als Walk-Act geeignet.</p>
		</span>
		<div class="btnWrapper scroll btnDark">
			<a class="button" href="#informationen">
				Informationen
			</a>
			<a class="button" href="#impressionen">
				Impressionen
			</a>
			<a class="button" href="#videos">
				Videos
			</a>
			<a class="button" href="#figuren">
				Figuren
			</a>
		</div>
	</h1>
</div>




<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 45%"></div>
</div>




<div class="container-fluid" id="informationen">
	<div class="row first-xs">
		<div class="col-xs-12">
			<h2>
				Informationen
			</h2>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Mögliche Figuren
				</h3>
				<ul class="listStyle">
					<li>1x Herzdame</li>
					<li>3 - 4 Hasen (auch 1x mit Wiesenfahrrad)</li>
					<li>1x Poet</li>
					<li>2x Höllenhunde</li>
					<li>Alice </li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Geeignet für
				</h3>
				<ul class="listStyle">
					<li>Paraden</li>
					<li>In- und Outdoor Veranstaltungen </li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Musik
				</h3>
				<ul class="listStyle">
					<li>Musik-USB für Soundanlage</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid greyBg" id="impressionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Impressionen
			</h2>
		</div>
		<div class="col-xs-12">
			<div class="gallery">
			    <a href="{{root}}/assets/img/produktionen/alice/alice_1.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/alice/alice_1.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/alice/alice_2.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/alice/alice_2.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/alice/alice_3.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/alice/alice_3.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/alice/alice_4.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/alice/alice_4.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/alice/alice_5.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/alice/alice_5.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/alice/alice_6.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/alice/alice_6.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/alice/alice_7.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/alice/alice_7.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/alice/alice_8.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/alice/alice_8.jpg" alt="" />
			    	</span>
			    </a>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid brownBg" id="videos">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Videos
			</h2>
		</div>

		<div class="col-lg-4 cwol-sm-6 col-xs-12">
			<iframe width="100%" height="250" src="https://www.youtube-nocookie.com/embed/NWTnCmmME7E?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</div>



<div class="container-fluid" id="figuren">
	<div class="row first-xs cardMargin">
		<div class="col-xs-12">
			<h2>
				Figuren, die hier genutzt werden
			</h2>
		</div>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/herzdame.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/herzdame.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Herzdame</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/hasen.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/hasen.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Hasen</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/poet.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/poet.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Poet</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/hoellenhunde.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/hoellenhunde.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Höllenhunde</h3>
			</div>
		</a>



	</div>
</div>
