---
title: Ara Brasil
description: Mit groovigen Rhythmen, Lebensfreude, Bewegung und Stelzenkunst verzaubert ARA BRASIL das Publikum. Schwatzend und verspielt bringen diese fröhlich- bunten Dschungelwesen Farbe und Freude ins Leben.
header_title: Ara Brasil
header_bg: ../assets/img/produktionen/arabrasil/arabrasil_8.jpg
keywords: Ara Brasil von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>Mit groovigen Rhythmen, Lebensfreude, Bewegung und Stelzenkunst verzaubert ARA BRASIL das Publikum. Schwatzend und verspielt bringen diese fröhlich- bunten Dschungelwesen Farbe und Freude ins Leben.
In den leuchtenden Farben der brasilianischen Vögel, spielen sich die Percussionisten leicht in die Herzen der Zuschauer! </p>
		</span>
		<div class="btnWrapper scroll btnDark">
			<a class="button" href="#informationen">
				Informationen
			</a>
			<a class="button" href="#impressionen">
				Impressionen
			</a>
			<a class="button" href="#videos">
				Videos
			</a>
			<a class="button" href="#figuren">
				Figuren
			</a>
		</div>
	</h1>
</div>




<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 45%"></div>
</div>


<div class="container-fluid" id="informationen">
	<div class="row first-xs">
		<div class="col-xs-12">
			<h2>
				Informationen
			</h2>
		<div class="col-xs-12">
			<p>
				Dieses Produktion ist ein Herzensprojekt von Stelzen-Art. Die künstlerischen Leiter: Martin Sasse und Janine Jaeggi sind selbst angesehene Percussionisten und Lehrer für brasilianische Musik seid vielen Jahrzehnten. Ausserdem sind sie die künstlerischen Leiter des Bremer Karneval, dem größsten Europäischen Sambakarneval Europas.
			</p>
		</div>
	</div>
</div>



<div class="container-fluid">
	<div class="row first-xs">
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Besetzung
				</h3>
				<ul class="listStyle">
					<li>minimum 5 Figuren: 3 ARAS am Boden, plus 2-5 ARAS auf Stelzen (bis zu 13 Figuren)</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Geeignet für
				</h3>
				<ul class="listStyle">
					<li>Paraden</li>
					<li>In- und Outdoor Veranstaltungen </li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Musik
				</h3>
				<ul class="listStyle">
					<li>Brasilianische Live-Percussion </li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid greyBg" id="impressionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Impressionen
			</h2>
		</div>
		<div class="col-xs-12">
			<div class="gallery">
			    <a href="{{root}}/assets/img/produktionen/arabrasil/arabrasil_1.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/arabrasil/arabrasil_1.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/arabrasil/arabrasil_2.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/arabrasil/arabrasil_2.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/arabrasil/arabrasil_3.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/arabrasil/arabrasil_3.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/arabrasil/arabrasil_4.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/arabrasil/arabrasil_4.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/arabrasil/arabrasil_5.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/arabrasil/arabrasil_5.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/arabrasil/arabrasil_6.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/arabrasil/arabrasil_6.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/arabrasil/arabrasil_7.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/arabrasil/arabrasil_7.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/arabrasil/arabrasil_8.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/arabrasil/arabrasil_8.jpg" alt="" />
			    	</span>
			    </a>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid brownBg" id="videos">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Videos
			</h2>
		</div>

		<div class="col-lg-4 cwol-sm-6 col-xs-12">
			<iframe width="100%" height="250" src="https://www.youtube-nocookie.com/embed/NWTnCmmME7E?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</div>



<div class="container-fluid" id="figuren">
	<div class="row first-xs cardMargin">
		<div class="col-xs-12">
			<h2>
				Figuren, die hier genutzt werden
			</h2>
		</div>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>

	</div>
</div>
