---
title: Circus Wonderland
description: Stelzen-Art verführt uns dieses Mal in die Welt des romanischen Circus. Stoff aus dem die Träume sind! Genähte Elefanten und Circuszelte, freche Candygirls und beeindruckende Artisten, versprühen den Zauber vergangener Zeiten.
header_title: Circus Wonderland
header_bg: ../assets/img/produktionen/circus_in_wonderland/circus_in_wonderland_1.jpg
keywords: Circus Wonderland von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>Stelzen-Art verführt uns dieses Mal in die Welt des romanischen Circus. Stoff aus dem die Träume sind! Genähte Elefanten und Circuszelte, freche Candygirls und beeindruckende Artisten, versprühen den Zauber vergangener Zeiten.</p>
		</span>
		<div class="btnWrapper scroll btnDark">
			<a class="button" href="#informationen">
				Informationen
			</a>
			<a class="button" href="#impressionen">
				Impressionen
			</a>
			<a class="button" href="#videos">
				Videos
			</a>
			<a class="button" href="#figuren">
				Figuren
			</a>
		</div>
	</h1>
</div>




<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 45%"></div>
</div>




<div class="container-fluid" id="informationen">
	<div class="row first-xs">
		<div class="col-xs-12">
			<h2>
				Informationen
			</h2>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Mögliche Figuren
				</h3>
				<ul class="listStyle">
					<li>M& Md Manege</li>
					<li>2x Candy Girls</li>
					<li>1x Elefantenreiter</li>
					<li>Löwe als Bodenfigur</li>
					<li>Hase/ Sprungstelzen </li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Geeignet für
				</h3>
				<ul class="listStyle">
					<li>Paraden</li>
					<li>In- und Outdoor Veranstaltungen </li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Musik
				</h3>
				<ul class="listStyle">
					<li>Musik-USB für Soundanlage</li>

				</ul>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid greyBg" id="impressionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Impressionen
			</h2>
		</div>
		<div class="col-xs-12">
			<div class="gallery">
			    <a href="{{root}}/assets/img/produktionen/circus_in_wonderland/circus_in_wonderland_1.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/circus_in_wonderland/circus_in_wonderland_1.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/circus_in_wonderland/circus_in_wonderland_2.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/circus_in_wonderland/circus_in_wonderland_2.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/circus_in_wonderland/circus_in_wonderland_3.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/circus_in_wonderland/circus_in_wonderland_3.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/circus_in_wonderland/circus_in_wonderland_4.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/circus_in_wonderland/circus_in_wonderland_4.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/circus_in_wonderland/circus_in_wonderland_5.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/circus_in_wonderland/circus_in_wonderland_5.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/circus_in_wonderland/circus_in_wonderland_6.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/circus_in_wonderland/circus_in_wonderland_6.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/circus_in_wonderland/circus_in_wonderland_7.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/circus_in_wonderland/circus_in_wonderland_7.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/circus_in_wonderland/circus_in_wonderland_8.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/circus_in_wonderland/circus_in_wonderland_8.jpg" alt="" />
			    	</span>
			    </a>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid brownBg" id="videos">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Videos
			</h2>
		</div>

		<div class="col-lg-4 cwol-sm-6 col-xs-12">
			<iframe width="100%" height="250" src="https://www.youtube-nocookie.com/embed/NWTnCmmME7E?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</div>



<div class="container-fluid" id="figuren">
	<div class="row first-xs cardMargin">
		<div class="col-xs-12">
			<h2>
				Figuren, die hier genutzt werden
			</h2>
		</div>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/madame_manege.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/madame_manege.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>M. & Mme Manège</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/candy.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/candy.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Candy Girls</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/elefantenreiter.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/elefantenreiter.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Elefantenreiter</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/loewe.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/loewe.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Löwe</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/hasen.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/hasen.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Hasen</h3>
			</div>
		</a>

	</div>
</div>
