---
title: Color of Nature
description: In dieser Formation kommt alle Schönheit die Flora und Fauna zu bieten hat zusammen! Blumen und Schmetterlinge in den schillerndsten Farben und Formen. Quirlige Vögel, Elfen, Raupen,  Flamingoreiter und Löwen runden das Naturschauspiel ab.
header_title: Color of Nature
header_bg: ../assets/img/produktionen/colorofnature/colorofnature_1.jpg
keywords: Color of Nature von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>In dieser Formation kommt alle Schönheit die Flora und Fauna zu bieten hat zusammen! 
Blumen und Schmetterlinge in den schillernsten Farben und Formen. Quirlige Vögel, Elfen, Raupen,  Flamingoreiter und Löwen runden das Naturschauspiel ab.</p>
		</span>
		<div class="btnWrapper scroll btnDark">
			<a class="button" href="#infos">
				Informationen
			</a>
			<a class="button" href="#impressionen">
				Impressionen
			</a>
			<a class="button" href="#videos">
				Videos
			</a>
			<a class="button" href="#figuren">
				Figuren
			</a>
		</div>
	</h1>
</div>




<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 45%"></div>
</div>




<div class="container-fluid" id="informationen">
	<div class="row between-xs">
		<div class="col-xs-12">
			<h2>
				Informationen
			</h2>
		</div>
		<div class="col-lg-3 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					Mögliche Figuren
				</h3>
				<ul class="listStyle">
					<li>4x farbige Schmetterlinge</li>
					<li>6 x Blumen, 1x Raupe</li>
					<li>5x  ARAS</li>
					<li>je 1x Fleur und Rose</li>
					<li>8x Fleur de Luxe</li>
					<li>2x Flamingo Reiter</li>
					<li>2x Elfen, 8x Löwen</li>
					<li>10x kosmische Vögel etc.</li>
					<li>und mehr …</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					Geeignet für
				</h3>
				<ul class="listStyle">
					<li>Paraden</li>
					<li>In- und Outdoor Veranstaltungen </li>
				</ul>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					Kombinierbar mit
				</h3>
				<ul class="listStyle">
					<li>Confusao percussion/ Kostüme: ARAS, Fleur de Luxe, Löwe minim. 5 - 8 Spieler <a href="http://www.confusao.de" target="_blank">www.confusao.de</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					Musik
				</h3>
				<ul class="listStyle">
					<li>Live Percussion</li>
					<li>Musik-USB für Soundanlage</li>

				</ul>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid greyBg" id="impressionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Impressionen
			</h2>
		</div>
		<div class="col-xs-12">
			<div class="gallery">
			    <a href="{{root}}/assets/img/produktionen/colorofnature/colorofnature_1.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/colorofnature/colorofnature_1.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/colorofnature/colorofnature_2.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/colorofnature/colorofnature_2.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/colorofnature/colorofnature_3.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/colorofnature/colorofnature_3.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/colorofnature/colorofnature_4.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/colorofnature/colorofnature_4.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/colorofnature/colorofnature_5.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/colorofnature/colorofnature_5.jpg" alt="" />
			    	</span>
			    </a>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid brownBg" id="videos">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Videos
			</h2>
		</div>

		<div class="col-lg-4 cwol-sm-6 col-xs-12">
			<iframe width="100%" height="250" src="https://www.youtube-nocookie.com/embed/NWTnCmmME7E?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</div>



<div class="container-fluid" id="figuren">
	<div class="row first-xs cardMargin">
		<div class="col-xs-12">
			<h2>
				Figuren, die hier genutzt werden
			</h2>
		</div>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/schmetterling.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/schmetterling.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>schmetterlinge</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/flowers.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/flowers.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Flowers</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/raupe.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/raupe.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Raupe</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/aras.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/ara.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Aras</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/fleur.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/fleur.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Fleur</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/rosenprinzessin.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/rosenprinzessin.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Rosenprinzessin</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/fleurdeluxe.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/fleurdeluxe.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Fleur de Luxe</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/flamingoreiter.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/flamingoreiter.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Flamingoreiter</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/elfen.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/elfen.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Elfen</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/loewe.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/loewe.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Löwe</h3>
			</div>
		</a>
		<a class="col-lg-3 col-xs-12 card" href="/figuren/kosmischervogel.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/kosmischervogel.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Kosmischer Vogel</h3>
			</div>
		</a>

	</div>
</div>
