---
title: Enchanted Garden
description: Alle Figuren sind iluminiert und mit programierbaren LED ausgestattet. Blumen und Schmetterlinge. Ein verwunschener Garten in dem sich die Phantasiewesen tummeln. 
header_title: Enchanted Garden
header_bg: ../assets/img/produktionen/enchantedgarden/enchantedgarden_2.jpg
keywords: Enchanted Garden von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>Alle Figuren sind iluminiert und mit programierbaren LED ausgestattet. Blumen und Schmetterlinge. Ein verwunschener Garten in dem sich die Phantasiewesen tummeln. </p>
		</span>
		<div class="btnWrapper scroll btnDark">
			<a class="button" href="#informationen">
				Informationen
			</a>
			<a class="button" href="#impressionen">
				Impressionen
			</a>
			<a class="button" href="#videos">
				Videos
			</a>
			<a class="button" href="#figuren">
				Figuren
			</a>
		</div>
	</h1>
</div>




<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 45%"></div>
</div>




<div class="container-fluid" id="informationen">
	<div class="row first-xs">
		<div class="col-xs-12">
			<h2>
				Informationen
			</h2>
		</div>
		<div class="col-lg-3 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Mögliche Figuren
				</h3>
				<ul class="listStyle">
					<li>2x Licht -Schmetterlinge</li>
					<li>6 x Licht-Blumen</li>
					<li>Wunderwelten: tänzerische Bodenfiguren mit Schmetterlingskascher</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Show
				</h3>
				<ul class="listStyle">
					<li>Flower& Butterfly: 6 Min. Show mit minimum 3x Blume 2x Schmetterling</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Geeignet für
				</h3>
				<ul class="listStyle">
					<li>Paraden</li>
					<li>In- und Outdoor Veranstaltungen </li>
				</ul>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Kombinierbar mit
				</h3>
				<ul class="listStyle">
					<li>Confusao percussion/ Kostüme: Wunderwelten <a href="http://www.confusao.de" target="_blank">www.confusao.de</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Musik
				</h3>
				<ul class="listStyle">
					<li>Live Musik</li>
					<li>Musik-USB für Soundanlage</li>

				</ul>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid greyBg" id="impressionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Impressionen
			</h2>
		</div>
		<div class="col-xs-12">
			<div class="gallery">
			    <a href="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_1.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_1.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_2.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_2.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_3.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_3.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_4.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_4.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_5.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_5.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_6.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_6.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_7.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_7.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_8.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_8.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_9.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_9.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_10.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/enchantedgarden/enchantedgarden_10.jpg" alt="" />
			    	</span>
			    </a>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid brownBg" id="videos">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Videos
			</h2>
		</div>

		<div class="col-lg-4 cwol-sm-6 col-xs-12">
			<iframe width="100%" height="250" src="https://www.youtube-nocookie.com/embed/NWTnCmmME7E?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</div>



<div class="container-fluid" id="figuren">
	<div class="row first-xs cardMargin">
		<div class="col-xs-12">
			<h2>
				Figuren, die hier genutzt werden
			</h2>
		</div>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/schmetterling.html">
			<div class="card_image">
		      <img src="{{root}}assets/img/iso/thumbs/schmetterling.png" alt=""/> 
		    </div> 
		    <div class="card_overlay"></div>
		    <div class="card_heading">
		    	<span class="small">Figuren</span>
				<h3>schmetterlinge</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/flowers.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/flowers.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Flowers</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/fleur.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/fleur.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Fleur</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/fleurdeluxe.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/fleurdeluxe.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Fleur de Luxe</h3>
			</div>
		</a>

	</div>
</div>
