---
title: Freecracy
description: 12 große, beleuchtete Stelzenfiguren,1 große 5m hohe, beleuchtete Figur mit Opernsängerin. 
header_title: Freecracy (Parade & Show)
header_bg: ../assets/img/produktionen/freecracy/freecracy_2.jpg
keywords: Freecracy von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>12 große, beleuchtete Stelzenfiguren,1 große 5m hohe, beleuchtete Figur mit Opernsängerin. </p>
		</span>
		<div class="btnWrapper scroll btnDark">
			<a class="button" href="#informationen">
				Informationen
			</a>
			<a class="button" href="#impressionen">
				Impressionen
			</a>
			<a class="button" href="#videos">
				Videos
			</a>
		</div>
	</h1>
</div>




<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 45%"></div>
</div>




<div class="container-fluid" id="informationen">
	<div class="row first-xs">
		<div class="col-xs-12">
			<h2>
				Informationen
			</h2>
		</div>
		<div class="col-xs-12 maBottom">
			<p>
				12 große, beleuchtete Stelzenfiguren,1 große 5m hohe, beleuchtete Figur mit  Opernsängerin. Einbindung von bis zu 20 Freiwillige zu Fuß oder auf Stelzen aus dem jeweiligen Ort. Eine große Platzbespielung zum Thema: Freiheit und Demokratie, Licht und Dunkeln.
			</p>
			<br><br>
			<p>
				Freecracy ist ein Kooperstionsprojekt und entstand in internationaler Zusammenarbeit, gefördert vom 
				<a href="http://www.north-art-collective.de" target="_blank">europäischen Kulturfond</a>
			</p>
		</div>
	</div>
</div>


<div class="container-fluid greyBg" id="impressionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Impressionen
			</h2>
		</div>
		<div class="col-xs-12">
			<div class="gallery">
			    <a href="{{root}}/assets/img/produktionen/freecracy/freecracy_1.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/freecracy/freecracy_1.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/freecracy/freecracy_2.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/freecracy/freecracy_2.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/freecracy/freecracy_3.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/freecracy/freecracy_3.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/freecracy/freecracy_4.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/freecracy/freecracy_4.jpg" alt="" />
			    	</span>
			    </a>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid brownBg" id="videos">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Videos
			</h2>
		</div>

		<div class="col-lg-4 cwol-sm-6 col-xs-12">
			<iframe width="100%" height="250" src="https://www.youtube-nocookie.com/embed/NWTnCmmME7E?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</div>


