---
title: Imago Caeli
description: Imago Caeli- (Himmelsbild) ist eine Produktion von Stelzen-Art, Bremen, Oakleaf Stelzenkunst, Hamburg und LRZK// Raummaschine, Bremen. Über 1 Jahr arbeiteten die Gruppen im Rahmen von HiStArt an der Technik des inflatable Stilt costume und der speziell dafür entwickelten Form des Videomapings.
header_title: Imago Caeli
header_bg: ../assets/img/produktionen/imagocaeli/imagocaeli_3.jpg
keywords: Imago Caeli von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>Imago Caeli- (Himmelsbild) ist eine Produktion von Stelzen-Art, Bremen, Oakleaf Stelzenkunst, Hamburg und LRZK// Raummaschine, Bremen. </p>
		</span>
		<div class="btnWrapper scroll btnDark">
			<a class="button" href="#informationen">
				Informationen
			</a>
			<a class="button" href="#impressionen">
				Impressionen
			</a>
			<a class="button" href="#videos">
				Videos
			</a>
		</div>
	</h1>
</div>




<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 45%"></div>
</div>




<div class="container-fluid" id="informationen">
	<div class="row first-xs">
		<div class="col-xs-12">
			<h2>
				Informationen
			</h2>
		</div>
		<div class="col-xs-12 maBottom">
			<p>
				Imago Caeli - (Himmelsbild) ist eine Produktion von Stelzen-Art, Bremen, Oakleaf Stelzenkunst, Hamburg und LRZK// Raummaschine, Bremen. Über 1 Jahr arbeiteten die Gruppen im Rahmen von HiStArt an der Technik des inflatable Stilt costume und der speziell dafür entwickelten Form des Videomapings.
			</p>
			<br><br>
			<p>
				Intensive Bilder aus Licht  ergeben ein sinnliches Spiel aus organische, archaische und graphische Formen. Licht und Farbe umspielt die weißen Stelzenkreationen in luftiger Höhe bis sie selbst zu leuchten beginnen.
				Eine faszinierende 12 min. Stelzen-Video-Performances 
			</p>
		</div>
	</div>
</div>


<div class="container-fluid greyBg" id="impressionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Impressionen
			</h2>
		</div>
		<div class="col-xs-12">
			<div class="gallery">
			    <a href="{{root}}/assets/img/produktionen/imagocaeli/imagocaeli_1.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/imagocaeli/imagocaeli_1.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/imagocaeli/imagocaeli_2.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/imagocaeli/imagocaeli_2.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/imagocaeli/imagocaeli_3.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/imagocaeli/imagocaeli_3.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/imagocaeli/imagocaeli_4.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/imagocaeli/imagocaeli_4.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/imagocaeli/imagocaeli_5.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/imagocaeli/imagocaeli_5.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/imagocaeli/imagocaeli_6.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/imagocaeli/imagocaeli_6.jpg" alt="" />
			    	</span>
			    </a>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid brownBg" id="videos">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Videos
			</h2>
		</div>

		<div class="col-lg-4 cwol-sm-6 col-xs-12">
			<iframe width="100%" height="250" src="https://www.youtube-nocookie.com/embed/NWTnCmmME7E?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</div>


