---
title: Kapelle
description: Diese „Knautsch- Kapelle“ ist  das erste knautschbare Kleinorchester, immer unterwegs auf Ihren langen "Bühnen" die die Welt bedeuten. Schrill und frech präsentieren sich die lebendigen Instrumente.
header_title: Kapelle
header_bg: ../assets/img/produktionen/kapelle/kapelle_9.jpg
keywords: Kapelle von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>Diese „Knautsch- Kapelle“ ist  das erste knautschbare Kleinorchester, immer unterwegs auf Ihren langen "Bühnen" die die Welt bedeuten. Schrill und frech präsentieren sich die lebendigen Instrumente. Zusammen mit Ihrer bezaubernden Sängerin schwingen und jazzen sie sie querbeet durch die vielfältigsten Musikstile. </p>
		</span>
		<div class="btnWrapper scroll btnDark">
			<a class="button" href="#informationen">
				Informationen
			</a>
			<a class="button" href="#impressionen">
				Impressionen
			</a>
			<a class="button" href="#videos">
				Videos
			</a>
			<a class="button" href="#figuren">
				Figuren
			</a>
		</div>
	</h1>
</div>




<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 45%"></div>
</div>




<div class="container-fluid" id="informationen">
	<div class="row first-xs">
		<div class="col-xs-12">
			<h2>
				Informationen
			</h2>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Mögliche Figuren
				</h3>
				<ul class="listStyle">
					<li>1x grande Dame/ Sängerin 1x Piano</li>
					<li>1x le Tam Tam</li>
					<li>1x the Bass </li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Geeignet für
				</h3>
				<ul class="listStyle">
					<li>In- und Outdoor Veranstaltungen </li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Musik
				</h3>
				<ul class="listStyle">
					<li>Als charmanter Reisekoffer getarnt, haben sie stehts ihre eigene kleine Anlage dabei. </li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid greyBg" id="impressionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Impressionen
			</h2>
		</div>
		<div class="col-xs-12">
			<div class="gallery">
			    <a href="{{root}}/assets/img/produktionen/kapelle/kapelle_1.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/kapelle/kapelle_1.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/kapelle/kapelle_2.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/kapelle/kapelle_2.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/kapelle/kapelle_3.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/kapelle/kapelle_3.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/kapelle/kapelle_4.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/kapelle/kapelle_4.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/kapelle/kapelle_5.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/kapelle/kapelle_5.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/kapelle/kapelle_6.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/kapelle/kapelle_6.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/kapelle/kapelle_7.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/kapelle/kapelle_7.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/kapelle/kapelle_8.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/kapelle/kapelle_8.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/kapelle/kapelle_9.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/kapelle/kapelle_9.jpg" alt="" />
			    	</span>
			    </a>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid brownBg" id="videos">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Videos
			</h2>
		</div>

		<div class="col-lg-4 cwol-sm-6 col-xs-12">
			<iframe width="100%" height="250" src="https://www.youtube-nocookie.com/embed/NWTnCmmME7E?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</div>



<div class="container-fluid" id="figuren">
	<div class="row first-xs cardMargin">
		<div class="col-xs-12">
			<h2>
				Figuren, die hier genutzt werden
			</h2>
		</div>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/granddame.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/granddame.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Grand Dame</h3>
			</div>
		</a>

	</div>
</div>
