---
title: Night of light
description: Ob bei Lichternächten in lauen Sommernächten, glamourösen Galas oder als „Winterphantasien“ auf  besonderen Weihnachtsmärkten, sorgen diese Lichtwesen für Aufmerksamkeit.
header_title: Night of light
header_bg: ../assets/img/produktionen/nightoflight/nightoflight_6.jpg
keywords: Night of light von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>Ob bei Lichternächten in lauen Sommernächten, glamourösen Galas oder als „Winterphantasien“ auf  besonderen Weihnachtsmärkten, sorgen diese Lichtwesen für Aufmerksamkeit.
Hoch über den Köpfen der Zuschauer leuchten Mondfrauen in ihren glittzernden Kleidern wie Sternenstaub. Eisblumen, neugierige Rentierreiter, romantische Sternenprinzen, tänzerische Traumfängern und Feen aus den blauen Tiefen des geheimnisvollen Weltalls entsprungen. </p>
		</span>
		<div class="btnWrapper scroll btnDark">
			<a class="button" href="#informationen">
				Informationen
			</a>
			<a class="button" href="#impressionen">
				Impressionen
			</a>
			<a class="button" href="#videos">
				Videos
			</a>
			<a class="button" href="#figuren">
				Figuren
			</a>
		</div>
	</h1>
</div>




<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 45%"></div>
</div>




<div class="container-fluid" id="informationen">
	<div class="row first-xs">
		<div class="col-xs-12">
			<h2>
				Informationen
			</h2>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Mögliche Figuren
				</h3>
				<ul class="listStyle">
					<li>3x Mondfrauen</li>
					<li>2x Rentierreiter</li>
					<li>1x Eisprinz</li>
					<li>1x Prinzessin der Sterne</li>
					<li>1x La Luna</li>
					<li>1x Engel</li>
					<li>3x weiße Lichtblumen</li>
					<li>2x weiße Lichtfalter </li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Geeignet für
				</h3>
				<ul class="listStyle">
					<li>Paraden</li>
					<li>In- und Outdoor Veranstaltungen </li>
				</ul>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					Kombinierbar mit
				</h3>
				<ul class="listStyle">
					<li>Live Musik: Klarinette & Akkordeon</li>
					<li>Kostüm Wunderwelten</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Musik
				</h3>
				<ul class="listStyle">
					<li>Live Musik</li>
					<li>Musik-USB für Soundanlage</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid greyBg" id="impressionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Impressionen
			</h2>
		</div>
		<div class="col-xs-12">
			<div class="gallery">
			    <a href="{{root}}/assets/img/produktionen/nightoflight/nightoflight_1.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/nightoflight/nightoflight_1.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/nightoflight/nightoflight_2.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/nightoflight/nightoflight_2.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/nightoflight/nightoflight_3.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/nightoflight/nightoflight_3.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/nightoflight/nightoflight_4.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/nightoflight/nightoflight_4.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/nightoflight/nightoflight_5.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/nightoflight/nightoflight_5.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/nightoflight/nightoflight_6.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/nightoflight/nightoflight_6.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/nightoflight/nightoflight_7.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/nightoflight/nightoflight_7.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/nightoflight/nightoflight_8.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/nightoflight/nightoflight_8.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/nightoflight/nightoflight_9.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/nightoflight/nightoflight_9.jpg" alt="" />
			    	</span>
			    </a>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid brownBg" id="videos">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Videos
			</h2>
		</div>

		<div class="col-lg-4 cwol-sm-6 col-xs-12">
			<iframe width="100%" height="250" src="https://www.youtube-nocookie.com/embed/NWTnCmmME7E?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</div>



<div class="container-fluid" id="figuren">
	<div class="row first-xs cardMargin">
		<div class="col-xs-12">
			<h2>
				Figuren, die hier genutzt werden
			</h2>
		</div>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/mondfrauen.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/mondfrauen.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Mondfrauen</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/eisprinz.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/eisprinz.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Eisprinz</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/prinzessinsterne.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/prinzessinsterne.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Sternenprinzessin</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/laluna.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/laluna.jpg" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>La Luna</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/engel.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/engel.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Engel</h3>
			</div>
		</a>

		

	</div>
</div>
