---
title: Time Traveller
description: Aus der Zeit der romantischen Dampfmaschinen, Zahnräder und Uhrwerke, kommen diese Wesen. Zeitreisenden aus der Steampunk Welt. Frech, keck und charmant sind sie auf dem Weg in ferne Phantasiewelten.
header_title: Time Traveller
header_bg: ../assets/img/produktionen/timetraveller/timetraveller_2.jpg
keywords: Time Traveller von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>Aus der Zeit der romantischen Dampfmaschinen, Zahnräder und Uhrwerke, kommen diese Wesen. Zeitreisenden aus der Steampunk Welt. Frech, keck und charmant sind sie auf dem Weg in ferne Phantasiewelten.</p>
		</span>
		<div class="btnWrapper scroll btnDark">
			<a class="button" href="#informationen">
				Informationen
			</a>
			<a class="button" href="#impressionen">
				Impressionen
			</a>
			<a class="button" href="#videos">
				Videos
			</a>
			<a class="button" href="#figuren">
				Figuren
			</a>
		</div>
	</h1>
</div>




<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 45%"></div>
</div>




<div class="container-fluid" id="informationen">
	<div class="row first-xs">
		<div class="col-xs-12">
			<h2>
				Informationen
			</h2>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Mögliche Figuren
				</h3>
				<ul class="listStyle">
					<li>5 bis 7 Steampunkfiguren/ 3x Sprungstelzen</li>
					<li>2x Steampunk als Drachenreiter</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Geeignet für
				</h3>
				<ul class="listStyle">
					<li>Paraden</li>
					<li>In- und Outdoor Veranstaltungen </li>
				</ul>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					Kombinierbar mit
				</h3>
				<ul class="listStyle">
					<li>Confusao percussion/ Kostüme: Steampunk</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Musik
				</h3>
				<ul class="listStyle">
					<li>Live Musik</li>
					<li>Musik-USB für Soundanlage</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid greyBg" id="impressionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Impressionen
			</h2>
		</div>
		<div class="col-xs-12">
			<div class="gallery">
			    <a href="{{root}}/assets/img/produktionen/timetraveller/timetraveller_1.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/timetraveller/timetraveller_1.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/timetraveller/timetraveller_2.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/timetraveller/timetraveller_2.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/timetraveller/timetraveller_3.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/timetraveller/timetraveller_3.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/timetraveller/timetraveller_4.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/timetraveller/timetraveller_4.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/timetraveller/timetraveller_5.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/timetraveller/timetraveller_5.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/timetraveller/timetraveller_6.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/timetraveller/timetraveller_6.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/timetraveller/timetraveller_7.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/timetraveller/timetraveller_7.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/timetraveller/timetraveller_8.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/timetraveller/timetraveller_8.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/timetraveller/timetraveller_9.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/timetraveller/timetraveller_9.jpg" alt="" />
			    	</span>
			    </a>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid brownBg" id="videos">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Videos
			</h2>
		</div>

		<div class="col-lg-4 cwol-sm-6 col-xs-12">
			<iframe width="100%" height="250" src="https://www.youtube-nocookie.com/embed/NWTnCmmME7E?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</div>



<div class="container-fluid" id="figuren">
	<div class="row first-xs cardMargin">
		<div class="col-xs-12">
			<h2>
				Figuren, die hier genutzt werden
			</h2>
		</div>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/timetraveler.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/timetraveler.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Time Traveler</h3>
			</div>
		</a>
		
		<a class="col-lg-3 col-xs-12 card" href="/figuren/drachenreiter.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/drachenreiter.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Drachenreiter</h3>
			</div>
		</a>

	</div>
</div>
