---
title: Underwater
description: Aus den Tiefen des Wassers kommend, sind diese schillernden Wasserwesen auch auf dem Lande äußerst charmant. Eine wunderbare Unterwasserwelt
header_title: Underwater
header_bg: ../assets/img/produktionen/underwater/underwater_2.jpg
keywords: Underwater von Stelzen-Art
---

<div class="headerContent basicLayout">
	<h1 id="fadeIn" class="fullWidth">
		{{ header_title }}
		<span class="subTitle fullWidth">
			<p>Aus den Tiefen des Wassers kommend, sind diese schillernden Wasserwesen auch auf dem Lande äußerst charmant. Eine wunderbare Unterwasserwelt </p>
		</span>
		<div class="btnWrapper scroll btnDark">
			<a class="button" href="#informationen">
				Informationen
			</a>
			<a class="button" href="#impressionen">
				Impressionen
			</a>
			<a class="button" href="#videos">
				Videos
			</a>
			<a class="button" href="#figuren">
				Figuren
			</a>
		</div>
	</h1>
</div>




<div id="headerBG" class="basicHeader effectHeader">
	<div style="background: url({{ header_bg }}); background-position: center 45%"></div>
</div>




<div class="container-fluid" id="informationen">
	<div class="row first-xs">
		<div class="col-xs-12">
			<h2>
				Informationen
			</h2>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Mögliche Figuren
				</h3>
				<ul class="listStyle">
					<li>1x King Krebs</li>
					<li>1x Queen Otavia</li>
					<li>1x Meermann & 2x Merjungfrau</li>
					<li>2x Seepferdchenreiter</li>
					<li>2x Seeanemonen Harlekin</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Geeignet für
				</h3>
				<ul class="listStyle">
					<li>Paraden</li>
					<li>In- und Outdoor Veranstaltungen </li>
				</ul>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6 col-xs-12">
			<div class="inner greyBg">
				<h3>
					Kombinierbar mit
				</h3>
				<ul class="listStyle">
					<li>Confusao percussion bis zu 8 Akteure / Kostüme: Fisch <a href="http://www.confusao.de" target="_blank">www.confusao.de</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 maBottom">
			<div class="inner greyBg">
				<h3>
					Musik
				</h3>
				<ul class="listStyle">
					<li>Live Musik</li>
					<li>Musik-USB für Soundanlage</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid greyBg" id="impressionen">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Impressionen
			</h2>
		</div>
		<div class="col-xs-12">
			<div class="gallery">
			    <a href="{{root}}/assets/img/produktionen/underwater/underwater_1.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/underwater/underwater_1.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/underwater/underwater_2.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/underwater/underwater_2.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/underwater/underwater_3.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/underwater/underwater_3.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/underwater/underwater_4.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/underwater/underwater_4.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/underwater/underwater_5.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/underwater/underwater_5.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/underwater/underwater_6.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/underwater/underwater_6.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/underwater/underwater_7.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/underwater/underwater_7.jpg" alt="" />
			    	</span>
			    </a>
			    <a href="{{root}}/assets/img/produktionen/underwater/underwater_8.jpg">
			    	<span>
			    		<img src="{{root}}/assets/img/produktionen/underwater/underwater_8.jpg" alt="" />
			    	</span>
			    </a>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid brownBg" id="videos">
	<div class="row around-xs">
		<div class="col-xs-12">
			<h2>
				Videos
			</h2>
		</div>

		<div class="col-lg-4 cwol-sm-6 col-xs-12">
			<iframe width="100%" height="250" src="https://www.youtube-nocookie.com/embed/NWTnCmmME7E?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</div>



<div class="container-fluid" id="figuren">
	<div class="row first-xs cardMargin">
		<div class="col-xs-12">
			<h2>
				Figuren, die hier genutzt werden
			</h2>
		</div>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/kingkrebs.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/kingkrebs.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>King Krebs</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/oktavia.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/oktavia.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Oktavia</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/meermann.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/meermann.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Meermann</h3>
			</div>
		</a>

		<a class="col-lg-3 col-xs-12 card" href="/figuren/meerjungfrau.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/meerjungfrau.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3>Meerjungfrau</h3>
			</div>
		</a>
		
		<a class="col-lg-3 col-xs-12 card" href="/figuren/seepferdchenreiter.html">
			<div class="card_image">
				<img src="{{root}}assets/img/iso/thumbs/seepferdchenreiter.png" alt=""/> 
			</div> 
			<div class="card_overlay"></div>
			<div class="card_heading">
			  	<span class="small">Figuren</span>
				<h3 class="smallerH3">Seepferdchenreiter</h3>
			</div>
		</a>

	</div>
</div>
