<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{ keywords }}">
    <title>Stelzen-Art | {{ title }}</title>
    <link rel="stylesheet" href="/assets/style/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>
  <body>

  <aside id="sticky-social">
    <ul>
        <li><a href="#" class="ent-facebook" target="_blank"><i class="fab fa-facebook-f"></i><span>Facebook</span></a></li>
        <li><a href="#" class="ent-youtube" target="_blank"><i class="fab fa-youtube"></i><span>Youtube</span></a></li>
        <li><a href="#" class="ent-instagram" target="_blank"><i class="fab fa-instagram"></i><span>Instagram</span></a></li>
    </ul>
  </aside>

  <div class="body-wrapper" id="{{ page }}">
    <header>{{> header}}</header>
    <div class="contentWrapper">{{> body}}</div>
    <footer>{{> footer}}</footer>
  </div>
    
    
    <script language="JavaScript" type="text/javascript" src="{{root}}assets/js/vendor.js"></script>
    <script language="JavaScript" type="text/javascript" src="{{root}}assets/js/all.js"></script>

     <script>
    $(function() {
      $('#slides').superslides({
        hashchange: true,
        play: 8000,
        animation: 'fade',
        animation_speed: 2000
      });
      $('#slides').on('mouseenter', function() {
        $(this).superslides('stop');
        console.log('Stopped')
      });
      $('#slides').on('mouseleave', function() {
        $(this).superslides('start');
        console.log('Started')
      });
    });
  </script>
    <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.12'><\/script>".replace("HOST", location.hostname));
//]]></script>
  </body>
</html>